[2014-06-08 05:23] hueniverse opened #1 "Which third-party login providers do you used?"

[2014-06-12 05:28] alexgorbatchev opened #3 "Modularize this"
Feels that providers should be separate modules. What do you think?

[2014-06-12 05:30] #3 closed, assigned to hueniverse

[2014-06-12 06:33] alexgorbatchev opened #4 "Facebook provider is throwing an error"
I'm getting this

[code]

when being redirected from facebook back to `http://localhost:8080/auth/facebook?code=AQBfow3ErUA7-TB7N...`

no stack trace in the console :( will try to investigate tomorrow...

here's my setup

[code]

[2014-06-12 17:32] #1 closed, assigned to hueniverse

[2014-06-12 17:33] #4 closed, assigned to hueniverse

[2014-06-13 00:39] reid opened #6 "Unable to get GitHub Enterprise profile data"
bell errors out with `Failed obtaining github user profile` when using a custom uri option.

GitHub Enterprise [requires API request paths be prefixed with `/api/v3/`](https://developer.github.com/v3/#schema), unlike GitHub which needs no prefix but uses the different domain `api.github.com`.

This should be very easy to fix. I'm working on it.

[2014-06-13 07:09] #6 closed, assigned to hueniverse

[2014-06-14 21:46] alexgorbatchev opened #8 "Auth cookies aren't being set"
What's the trick to getting auth cookies to be set?

[code]

After initial redirect my `request.auth` is always at authenticated state and cookie is never set. A test `reply.state('foo', 'bar')` works fine and the cookie is preserved.

What am I doing wrong? I think I tried nearly everything.

[2014-06-14 21:48] #8 closed, assigned to hueniverse

[2014-06-17 12:06] kokujin opened #9 "Simple username/password example?"
Hi Eran, I actually wanted to use Passport, but found this by chance. What is the equivalent of passports' "local-strategy"?

[2014-06-17 16:20] salzhrani opened #10 "How to test"
I have bell setup with hapi-auth-cookie following the structure of postmile  but I don't have any idea on how to test my server. could you please write an example test here or at postmile repo.

[2014-06-18 16:34] #9 closed, assigned to hueniverse

[2014-06-18 22:23] #10 closed, assigned to nobody

[2014-07-02 08:05] santbob opened #12 "How to configure multiple provider in a single auth stratergy"
I would like to have login using any of the fb, twitter, google or yahoo logins.

Is there a way to configure multiple providers for the auth strategy?

[2014-07-03 06:23] #12 closed, assigned to nobody

[2014-08-03 15:18] arb opened #15 "Update Documentation"

[2014-08-03 15:18] #15 closed, assigned to arb

[2014-08-05 12:40] josecardozo opened #18 "LDAP support"
Once the Travelogue project was discontinued, it would be good to see the LDAP support in Bell.

[2014-08-20 14:02] FabricioFFC opened #20 "Oauth with Google returns "Failed obtaining google access token""
Hi,

When the callback is called the authentication fails because the application can't obtain the google access token. I already double checked my configurations and everything seem ok.

Anyone could have some guess why this error is happening?

<pre>
{
  isAuthenticated: false,
  credentials: undefined,
  artifacts: undefined,
  session: {
    set: [
      Function
    ],
    clear: [
      Func

[2014-08-20 20:07] #20 closed, assigned to nobody

[2014-08-28 14:57] hacksparrow opened #21 "Google OAuth example"
A Google OAuth example would be much appreciated. Thanks.

[2014-09-09 23:04] gjunkie opened #22 "Get session_handle from Yahoo"
After logging in with Yahoo, bell exposes the access token and token secret passed from Yahoo. This access token expires after 60 min. In order to easily refresh this token, a session_handle is needed, which Yahoo provides upon original login. Without this session_handle a user is required to re-login every 60 min in order to get a new access token.

It would be great it bell could retrieve the se

[2014-09-22 18:38] ghost opened #23 "How to handle the authorize rejection from Twitter?"
I asked this at [Stackoverflow](http://stackoverflow.com/questions/25966130/using-hapijs-and-bell-with-twitter-provider-how-to-handle-the-authorize-rejecti)

I access the **/login** route and I get redirected to Twitter, I authorize the app and then I'm redirected back to **/login?oauth_token=xxxxxxx&oauth_verifier=xxxxxxx** where I can have access to the user profile in the request.auth.credentia

[2014-09-22 19:24] arb opened #25 "Test Cleanup"
Clean up test to be in line with new standards.

[2014-09-22 19:25] arb opened #26 "Wreck"
Replace `nipple` with `wreck`

[2014-09-27 17:21] #26 closed, assigned to arb

[2014-10-01 17:14] jedireza opened #30 "bell with another strategy"
I'm looking for a way to layer authentication strategies. For example I'd like someone who's authenticated with `hapi-auth-basic` to also connect a twitter account using `bell`.

Any ideas are much appreciated.

[2014-10-16 18:40] #23 closed, assigned to patrickkettner

[2014-10-27 17:51] #30 closed, assigned to nobody

[2014-10-29 01:18] geek opened #37 "Upgrade to lab 5.x.x"

[2014-10-29 14:20] #37 closed, assigned to geek

[2014-11-13 19:53] briandela opened #40 "Forcing redirect_uri to be https"
Just wondering if it's possible to force to `redirect_uri` to be https. We're deploying hapi on Heroku and heroku does SSL termination at the edge of their network. This means we run hapi as http. Bell seems to take the protocol the site is running as and make that the protocol for the redirect_uri - this causes an issue when the provider (e.g. facebook) redirect back to our site as it comes back

[2014-11-26 07:37] hueniverse opened #42 "hapi 8.0 API"

[2014-11-28 07:08] #42 closed, assigned to hueniverse

[2014-12-15 11:40] valvoline opened #46 "Cannot use bell with Facebook"
Hi all,

I cannot find a way to make bell usable with Facebook. Here is my server config:

[code]

However i obtain always an **Authentication failed due to: Failed obtaining facebook access token**

I double checked my Facebook app developer page and on the **basic settings** I've configured a WebSite that point to **http://thalion.local:3000/bell/facebook/** that's my server route for bell authe

[2014-12-15 12:25] #46 closed, assigned to nobody

[2014-12-18 19:17] geek opened #48 "Expose Client as a plugin method"

[2014-12-25 20:34] jgallen23 opened #49 "pass back expires_in"
Google (along with others) pass back expires_in with the token and I'd like to store that to know when I should request a new token.  It should be a very easy change to just add expires_in here: https://github.com/hapijs/bell/blob/master/lib/oauth.js#L213.  Let me know if you want me to submit a pull request.

[2015-01-03 23:59] smitp opened #51 "redirected url querystring in protected routes"
After successfull authentication, querystring are not retained for protected routes.

Ex. For route `/auth/login/twitter` protected with `twitter` auth strategy in `required` mode
URL `/auth/login/twitter?next=%2F/home` redirects to `/auth/login/twitter` after authenticated successfully. Should it retain query params in redirected url after authenticated?
Is this valid behavior? If not, how we ach

[2015-01-08 21:55] #21 closed

[2015-01-09 22:09] petehunt commented on #40
+1, every app server deployment I've worked with terminates SSL with nginx

[2015-01-12 19:05] ksck23 commented on #49
Hi Team, i too felt that the "expiresIn: payload.expires_in" is a good to have parameter. Could you please confirm if this change has been accepted ?

[2015-01-16 21:46] eiriksm commented on #40
+1 from me. Had me wondering for a while. Would a PR implementing this as an option be considered?

[2015-01-17 06:56] eiriksm commented on #40
Instead of waiting for an answer to that, I went ahead and submitted the PR over at #53

[2015-01-30 21:19] silas commented on #51
Take a look at `request.auth.credentials.query`, it should have the original query parameters.

[2015-01-30 21:22] smitp commented on #51
Thanks @silas. That helps a lot.

[2015-01-30 21:22] #51 closed

[2015-02-03 17:13] Nogbit opened #55 "SAML with Shibboleth support"
It seems this was supported in travelogue with passport.  I still don't know why travelogue was abandoned in favor of bell but it kind of leaves new projects in no mans land that that need SAML support.

[2015-02-06 04:01] luciano-junior opened #56 "Question about reply.redirect call at oauth.js"
Hi!

I would like to question about this redirection [here](https://github.com/hapijs/bell/blob/220b5d527ac678cec9222f78b08bb4bb83511372/lib/oauth.js#L163)

When this redirection is done, the client gets notified of two parameters: **code** and **state**. However, these parameters should concern just the server, right? Does the client need to know any of these information?

Do my questions make an

[2015-02-09 15:52] robertd commented on #55
+1

[2015-02-09 16:36] robertd opened #57 "Bell setup question"
Is it possible to load Bell plugin this way?

[code]

[2015-02-12 12:29] hzaheer commented on #46
@valvoline can u provide the linkedin config?
thanks a ton!

[2015-02-12 12:45] valvoline commented on #46
Absolutely yes!

I have no time at the moment to fork a branch, so I attach here our working config.

on your server.js (or whatever you maintain your route / auth strategy) add the following:

[code]

Also, under bell/providers folder, create a linkedin.js file with the following content:

[code]

Also, be sure to modify your bell/lib/providers/index.js file accordingly:

[code]

That's all! Happ

[2015-02-13 22:54] geek commented on #55
@Nogbit I would like to see SAML support as well.  If someone is willing to contribute it then that would be the fastest way to get it into bell.

[2015-02-13 23:49] Nogbit commented on #55
We decided to stick with Express for the time being, if one of us gets the bandwidth we could contribute and we did discuss that.

[2015-02-14 00:04] molekilla commented on #55
thinking if you take passport-saml  and create the wrapper for hapi-bell it might work. Ideally, with maintaining passport-saml saml.js as a library, not forking. Anyone interested ?

[2015-02-18 14:05] jaw187 commented on #56
No, it is not a vulnerability.  The parameters are used in combination with a client secret which will ensure a secure exchange.

1. No, you should not worry about the client knowing the parameters.  The parameters are used in combination with a client secret which will ensure a secure exchange.

2. Without redirects, your server would have to collect login information and it would nullify the nee

[2015-02-18 14:12] jaw187 commented on #57
The options you specified are to be used in conjunction with `server.auth.strategy`.  As per the examples, you can set up your strategy in the callback passed along to `server.register`

[2015-02-18 16:00] robertd commented on #57
I already figured it out. Thanks though.

[2015-02-18 16:00] #57 closed

[2015-02-18 16:54] geek commented on #49
@jgallen23 I'll accept a PR for that change.  Thanks!

[2015-02-20 14:05] chmanie opened #59 "Multiple auth strategies not possible?"
I am using hapijs 7.5.3 with bell 1.3.1.

I'd like to register multiple auth strategies with one provider (i.e. facebook) like this:

[code]

I get the error ```Error: State already defined: bell-facebook```.

Are multiple auth strategies not possible or am I doing something stupid?

[2015-02-20 14:50] lloydbenson commented on #59
I am not a bell expert by any means but the documentation in the README says:

cookie - the name of the cookie used to manage the temporary state. Defaults to 'bell-provider' where 'provider' is the provider name (or 'custom' for custom providers). For example, the Twitter cookie name defaults to 'bell-twitter'.

So I think what you want is to override the default cookie name in at least one place

[2015-02-24 03:34] ericeslinger commented on #40
This doesn't seem to work yet- I tried bell 2.1.0 with forceHttps: true, and bell threw 500 errors with "redirect_uri_mismatch" responses, which seem to be coming off of the google endpoint.

I rolled back to bell 2.0.0 and used @fampinheiro 's workaround, and it seems to work. In earlier versions (hapi 7.5), I was able to just set the location parameter on the server, and bell seemed to pick it u

[2015-02-24 12:09] lloydbenson commented on #59
Haven't heard back so I will assume that is all it was.

[2015-02-24 12:09] #59 closed

[2015-02-24 12:11] chmanie commented on #59
Haven't tried yet, but seems reasonable! Thank you!

[2015-02-25 05:28] KrisSiegel commented on #40
I'm having the exact same issue as @ericeslinger; I upgraded to 2.1.0 but whenever forceHttps is being used google returns "redirect_uri_mismatch". If I find a cause in bell I'll report back as this is something I'm actively debugging.

[2015-02-25 06:16] KrisSiegel commented on #40
Okay yeah the internals.location method is used in several places but in the PR it's not updated in every place to use the protocol (which may be a forced https). As a debug step I simply updated internals.location to do this and it worked perfectly:
[code]
So I went ahead, forked bell, added the fix and verified it in my own deployment on one of our development instances. Seems to be working as e

[2015-02-25 17:15] KrisSiegel commented on #40
Looks like #60 really fixed it, not my #61. I just deployed and verified that it looks good on our development server with SSL.

[2015-02-25 18:43] ericeslinger commented on #40
Ah, good to know. I will test 2.2.0 on my beta server.

On Wed, Feb 25, 2015 at 9:15 AM Kris Siegel <notifications@github.com>
wrote:

[2015-03-01 19:42] tjsail33 commented on #55
+1 also interested in this

[2015-04-01 23:43] hofan41 commented on #48
This would be useful for subsequent api calls to the providers, although currently it seems the client only supports OAUTH v1.

[2015-04-02 16:54] ulrik59 opened #66 "Deprecated Google and Facebook APIs"
Hi everyone,

I'm actually using Bell for Facebook and Google without any problem but I noticed that used API for both providers are deprecated.
Here's the documentation about Google: https://developers.google.com/accounts/docs/OAuth2LoginV1
And Facebook send this warning when I want to authenticate:
![deprecatedfacebook](https://cloud.githubusercontent.com/assets/6003644/6968793/adb6450a-d969-11e

[2015-04-02 17:19] geek commented on #66
Thanks.  We definitely need to fix that if there is an updated API we should be using.

[2015-04-03 15:19] #49 closed

[2015-04-13 22:45] hofan41 opened #72 "Allow environment variables to configure scheme options"
Currently, it is not possible to configure some of the options in this plugin using environment variables, since some of the options are assumed to be boolean/number types, while environment variables are strings.

I would like to request that this be made possible by using Joi's nifty validation() function which will accept a boolean/number string and return a transformed object with the appropri

[2015-04-15 19:54] mazzy89 opened #74 "No 'access-control-allow-origin' header is present on the requested resource."
I'm using bell at the server side while at the client side I'm using Angular. I call the /auth/facebook entrypoint at the server side by using $http but I get the error

[code]

Have you any  suggestions how to use bell with angularjs frontend?

[2015-04-16 23:51] hofan41 opened #75 "Add phabricator third party provider"
Phabricator is a useful PM tool that we have been using that also ships with an oauth 2.0 api.

http://www.phabricator.com

[2015-04-22 19:21] #75 closed

[2015-04-23 15:03] #72 closed

[2015-04-23 15:49] geek commented on #66
The Facebook issue is fixed in 2.4.0

[2015-04-23 15:50] #56 closed

[2015-04-24 19:58] dehbmarques opened #79 "LinkedIn profile fields"
Hi,

Is there a way to set the fields to return from the LinkedIn API?
e.g.: ```https://api.linkedin.com/v1/people/~:(id,first-name,last-name,email-address)```

[2015-05-01 15:15] #79 closed

[2015-05-01 20:02] brand7n commented on #40
My suggestion would be something like this for people already using the old server location setting:  https://github.com/hapijs/bell/compare/master...brand7n:master

[2015-05-02 20:34] christophercliff opened #83 "Can't use "Authorization" header and "client_secret" arg together"
I'm getting this error response using the Dropbox provider during the POST to `https://api.dropbox.com/1/oauth2/token`. Looks like it was introduced here: https://github.com/hapijs/bell/commit/7b5466759713da87388a4a08ed00012e25c2b6a8#diff-84fad1d3b3913ec86805e857580c5d54R199.

Is this a matter of the Dropbox API using a stricter implementation or is there something else going on here?

[2015-05-06 16:53] JSMap opened #86 "oauth with Azure"
Hello,

My project is using Microsoft Azure with Active Directory.
Do you have some information about the integration of this feature with Bell Module ?

Thank you

[2015-05-16 19:21] #48 closed

[2015-05-24 09:44] StephanGerbeth opened #89 "facebook expiration won't be mapped properly"
Hi,

actually the expiration date of facebook access token won't be mapped properly.

You implemented a default mapping:
oauth.js - line 229: `expiresIn: payload.expires_in`

but the facebook payload attribute is called 'expires' only.

Cheers
Stephan

[2015-05-26 20:14] hueniverse opened #90 "Expose OAuth 1.0 client protected resource endpoing"
Current client provides a `get()` method that automatically parses the response. I need a way to get back the response stream untouched as well as have access to methods other than `GET`.

[2015-05-27 16:07] #90 closed

[2015-05-27 22:44] hueniverse opened #92 "Fix POST payload format and location"
The client `resource()` method puts POST payloads in the query. Also, some providers (I'm looking at your stupid face Twitter) require the form-encoded payload to be OAuth compliant which means strings with `'!'` will not get encoded using normal encoding and break. This fixes it in a way that will work under all versions of node.

If you didn't use the `Bell.oauth.Client` API, you are not affecte

[2015-05-28 18:40] OwenBrotherwood commented on #55
@geek I have an internal enterprise SAML i need to interact with a node framework.
I fork and find a knife and spoon to see if I can do a crash course in hapi bell.

---

Anyone else in : focus on internal enterprise SAML then _maybe_ Azure

[2015-05-28 19:44] #92 closed

[2015-05-28 19:51] OwenBrotherwood opened #95 "bell dependancy on http://passportjs.org"
A dependancy on http://passportjs.org/ to obtain support for other providers/strategies.
- "mainstream" providers/strategies that are lacking in bell could be implemented as need arises without a dependancy on passport.
  - https://github.com/hapijs/bell/issues/55#issuecomment-74349084

---

Notes:
- passport has no dependancy on express: [package.json](https://github.com/jaredhanson/passport/blob

[2015-06-02 20:33] #40 closed

[2015-06-02 21:11] diego04 commented on #89
Im having issues with facebook expiraton as well. request.auth.credentials.expiresIn, this is undefined

[2015-06-05 00:26] ldesplat opened #98 "Don't send client credentials as parameters and basic auth while retrieving token"
I am using WSO2 and bell. I see that in bell in https://github.com/hapijs/bell/blob/master/lib/oauth.js#L191-L203

We send both the client_id and client_secret in the query and in the Authorization header. Looking at the source code of WSO2 it says that the standard does not allow both ways to be sent at the same time. I looked over the standard. [rfc6749](https://tools.ietf.org/html/rfc6749) espe

[2015-06-05 22:11] ldesplat commented on #98
And of course I missed that the standard says:
`The client MUST NOT use more than one authentication method in each request.`

So, because of that I plan on implementing this as a breaking change. I am going to add a setting in the provider named `authMethod` which will be required when protocol is 'oauth2' and will have no default. It will have only 2 valid values `basic` or `param`.

This unfort

[2015-06-10 18:22] #98 closed

[2015-06-11 16:57] geek opened #100 "4.0.0 Release Notes"
A new OAuth 2.0 property (`useParamsAuth`) has been added to indicate if the client ID and client secret are sent in the Authorization header or as query parameters.  The default is to use the Authorization header.  The existing OAuth 2.0 providers have been updated to follow the specification.

[2015-06-11 16:57] #100 closed

[2015-06-15 18:51] jeffwhelpley opened #102 "client_secret and clientSecret"
So, it looks like clientSecret was changed to client_secret here:

https://github.com/hapijs/bell/commit/96ef98c422dd8d15964319bac9b8189d303278dd#diff-84fad1d3b3913ec86805e857580c5d54R199

and that breaks my code since when I try to set client_secret I get:

[code]

but then if I set clientSecret as I have been doing, I get:

[code]

In debugging my Bell I can see that this is because client_secre

[2015-06-16 05:25] qualquervalor commented on #102
I think it might have been a typo
https://github.com/hapijs/bell/pull/101

[2015-06-16 12:29] jeffwhelpley commented on #102
Yeah, I figured as much. Thanks @qualquervalor for submitting a PR!

[2015-06-16 20:48] nikhilaravi commented on #4
I'm getting exactly the same error but for Github login and I have already set isSecure to false. I am following this code exactly (https://gist.github.com/arb/9a1d8e694bbd12d5b455) but it is not working for any of the providers

[2015-06-22 15:07] qualquervalor opened #109 "Provider wiki"
It would be useful if there were a wiki that provided reference material associated with the various providers.  It can be somewhat difficult to track down the documentation about endpoints, scopes, response bodies, etc..  This information has to be researched when creating a provider for the first time, so it couldn't hurt if it was recorded at that time.  This should help in the long run in main

[2015-06-24 22:05] ldesplat commented on #102
Sorry about that. I had tested the code with my own provider but I was using Authorization header which used the right variable :(

[2015-06-24 22:13] ldesplat commented on #83
@christophercliff This is fixed as of version 4

It's against the standard to send both auth methods at the same time.

[2015-06-25 02:53] jeffwhelpley commented on #102
@ldesplat no worries. One thing. Unless I am mistaken it looks like the PR from @qualquervalor was merged, but the version number hasn't been incremented and published to npm.

[2015-06-28 15:54] chefArchitect commented on #102
Hi guys! Are you planning a release with this fix soon?  I've just discovered the issue and couldn't login with most of the networks due to this error.

[2015-06-29 03:24] lintuxt commented on #4
I'm having the same issue and also I have already set isSecure to false.

[2015-06-29 05:57] hueniverse commented on #4
Commenting on a year old issue is unlikely to get you help. You need to open a new issue with more specifics about what you are trying to do and the errors you are getting. Keep in mind that because of the many settings all around, helping you debug authentication is notoriously hard (and this code clearly works for a lot of people). So you will need to work extra hard to help people reproduce you

[2015-07-01 23:37] KeKs0r opened #111 "Api Authentication with Bell"
Hi,

I am not sure if this is either totally obvious or not supported, but I want to use bell with a frontend and as an API authentication method.

The procedure would look like that the user is signed in at the frontend and then only sends his own access_token to the backend (e.g. from facebook). The backend then authenticates (with Bell) that access token and would then return its own token from

[2015-07-05 03:56] brenca opened #112 "facebook login internal server error"
When I try to use the facebook strategy, I get the following error:

[code]

Here's my code (basicly your twitter example)

[code]

[2015-07-05 20:18] asilluron commented on #112
Had the exact same issue. I downgraded to version: ^3.0.0 and it worked again.

[2015-07-06 16:19] Icehunter commented on #102
@hueniverse I was wondering if the NPM/package version can be incremented from the change here: https://github.com/hapijs/bell/blob/master/lib/oauth.js#L199 ?

4.0.0 does not have that line and is currently breaking on facebook and other providers.

Thanks for all the work! :)

[2015-07-06 18:17] hueniverse commented on #102
@geek Care to publish a new version with the fix?

[2015-07-07 23:58] rainabba commented on #112
I was getting a token error, set package.json to <4.0.0 and now i'm good. Definitely something broken in 4.0.0.

[2015-07-08 00:05] ericeslinger commented on #102
Yep, I'd sure love to see a new version, I independently found this bug and was in the midst of forking to submit a PR when I found it had already been fixed in master. I rolled back to 3.0.0 in the meantime.

[2015-07-08 04:38] geuis commented on #112
This commit is not in the version installed by npm, https://github.com/hapijs/bell/commit/a30a85b321d685718ef5726dc08ed0d6dffbe25d.

[2015-07-08 05:02] Gouthamve commented on #112
Yes, I too am getting a token error in 4.0.0. Here is my stack:

[code]

[2015-07-08 19:47] maxbeatty commented on #102
Sorry to pile on but like others I discovered this during development, found my way here, and would appreciate publishing a new version with the fix. Thanks! :ramen:

[2015-07-09 03:38] rainabba opened #113 "How to implement redirectUrl after authentication?"
I'm actually using Bell and hapi-auth-cookie and I'm not sure which (or both) plugins would need to be involved since I don't quite understand yet how they interact, but I need to be able to send someone to a route to initiate auth and after they're successfully authenticated, redirect them to that URL.

It seems like this is a standard part of the OAUTH process, or at least once was, but I'm wond

[2015-07-09 05:23] phoenixbox commented on #112
Downgraded to `^3.0.0` and it works :+1:

[2015-07-11 19:15] jakegibson commented on #112
.. Should have checked here sooner.  Seems to not be passing the client secret in 4.0.0

[2015-07-11 19:16] jakegibson commented on #112
https://github.com/hapijs/bell/issues/102

[2015-07-13 03:52] brenca commented on #112
When I posted this issue, the one you referred to was closed, so I didn't think that that still was the cause.

[2015-07-13 03:53] #112 closed

[2015-07-13 07:18] alanshaw commented on #102
+1 please publish the fix

[2015-07-13 18:09] thebillkidy commented on #102
+1, fix is needed, facebook auth doesn't work without it

[2015-07-14 00:34] geek commented on #66
Google is fixed by https://github.com/hapijs/bell/pull/108 in bell v5.0.0

[2015-07-14 00:34] #66 closed

[2015-07-15 15:28] rainabba commented on #113
Using yar to store the url in another cookie that's independent of the cookie used to auth sessions from hapi-auth-cookie.

[2015-07-15 15:28] #113 closed

[2015-07-20 17:28] geek opened #116 "5.0.0 Release Notes"
## Google Auth Changes

Google now uses the Google Plus services.  More information on the service is located here: https://www.googleapis.com/discovery/v1/apis/plus/v1/rest  You will need to update the

The profile object has changed in the following ways:
- `email` is now `emails` and is an array of objects with the following keys: `type` and `value`
- `name` renamed `first` and `last` to `given

[2015-07-20 17:28] #116 closed

[2015-07-20 17:45] geek opened #117 "Lois Desplat is the new maintainer"
Please welcome https://github.com/ldesplat as the new maintainer of bell!

[2015-07-20 17:45] #117 closed

[2015-07-20 18:03] jshum commented on #55
+1 non-SAML support is making us stick with Express for now, but would love to help and contribute.

[2015-07-21 00:15] eloop opened #118 "5.0.0 google.js example fails"
With the following error -

"Authentication failed due to: Failed obtaining google user profile"

Can anyone verify the google.js example is working ? Am I doing something wrong ?

-Drew

[2015-07-21 01:06] ldesplat commented on #118
You must enable the Google+ API in your profile. Looks like the example comments have not been updated with that extra information.
Go to APIs & Auth, then APIs and under Social APIs click Google+ API and enable it.
I'll happily take a PR that fixes that documentation in the example :)

[2015-07-21 01:19] ldesplat commented on #111
I have a hard time understanding your question and it has been 19 days. But would reading https://developers.facebook.com/docs/facebook-login/access-tokens#architecture help you?

But, bell does not generate tokens...

So if you have a long term token, why don't you just go to the graph endpoint of facebook and retrieve your data (or the debug endpoint). If it's not a valid token, it will refuse t

[2015-07-21 01:23] ldesplat commented on #83
Fixed in #99

[2015-07-21 01:23] #83 closed

[2015-07-21 01:25] ldesplat commented on #102
Fixed by #101 and #107

[2015-07-21 01:25] #102 closed

[2015-07-21 01:57] eloop commented on #118
Done. PR #119

[2015-07-21 02:30] ldesplat commented on #118
Thanks!

[2015-07-21 02:30] #118 closed

[2015-07-21 08:04] KeKs0r commented on #111
Hi,

in the meantime I have implemented it myself. I know that Bell does not generate tokens, I would have done that manually. What I wanted to do is authenticate an request with a facebook token against the facebook api. So the "login" route would have had an authentication strategy that just checks if the provided access token is a valid facebook token and then fetches the user for it. I think t

[2015-07-22 02:03] ldesplat commented on #111
I believe you did it correctly. Bell does not have to cover your entire use case. In this case, [OAuth2](http://tools.ietf.org/html/rfc6749), to the best of my knowledge, does not specify anything specifically for it. Some standards have been built around it by adding something like token introspection but it's not there.

It only specifies 4 different ways of acquiring a token:
- Implicit flow is

[2015-07-27 18:24] #111 closed

[2015-07-27 18:58] ldesplat commented on #89
Anybody want to submit a PR?

Also, the spec specifies `expires_in` so I am surprised facebook is doing that. If the PR upgrades to the latest API and this still happens I could take a PR that fixes it.

[2015-07-27 19:03] ldesplat commented on #86
That's a very delayed response but you can see the oauth2 details and azure.
https://msdn.microsoft.com/en-us/library/azure/dn645542.aspx

If you implement a provider, please submit a PR!

[2015-07-27 19:06] ldesplat commented on #74
Do you still need help with such an issue?

CORS Documentation: https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS
Hapi and CORS: http://hapijs.com/api#route-options (scroll down to cors)

[2015-07-27 19:06] #74 closed

[2015-07-27 19:07] ldesplat commented on #25
@arb I don't know what this referenced and it's been a long time. Is this still relevant?

[2015-07-27 19:12] ldesplat commented on #95
I am going to refer to the following modules:

Deprecated but bell ancestor: https://github.com/hapijs/travelogue
No idea how good it is: https://github.com/ikkyotech/hapi-passport

Both use or used Passport. If you want to know why you can ping the original people and ask them. Because of that I'll close this issue now.

Though I fully agree that I would love to see SAML, LDAP support amongst oth

[2015-07-27 19:12] #95 closed

[2015-07-27 19:17] gergoerdosi commented on #25
@ldesplat See here: https://github.com/hapijs/discuss/issues/24

[2015-07-27 20:58] ldesplat commented on #109
What do you think about documenting the provider details directly in the source code of the providers?

It would have more of a chance at staying up to date...

[2015-07-27 21:46] qualquervalor commented on #109
I think it would still merit having a significant portion if it outside the code base.  It is easier to diff code changes version to version if there is not a large portion of changing comments sprinkled throughout a file.  Plus some of this type of information could be hard to find if it was dispersed throughout a code base.  Regardless of whether it is put in the code or in a wiki, it will event

[2015-07-27 22:01] ldesplat commented on #109
To directly answer your question, I would not accept the PR as is. That's what is done on other Hapi repos.

Now, I would love to better document each provider from a user's perspective. I think that this is not documented currently (spread around the README.md and I am not sure if it is exhaustive). So document, exactly what type of options you can pass to it in a specific section of the README o

[2015-07-27 22:11] qualquervalor commented on #109
More documentation in any format would be good, so yes.

[2015-07-29 03:21] #89 closed

[2015-07-29 03:39] ldesplat commented on #89
This should work now as of 5.0.1. We were not using the most up to date API endpoint.

[2015-07-30 06:39] pygeek opened #121 "Passwordless login support"
It seems that this project lacks support for a passwordless login scheme. T would be helpful to know if a passwordless login scheme is within the scope of this project, and whether any considerations have been made to support this feature in the near future.

[2015-07-30 17:41] ldesplat commented on #121
I am composing an answer to your questions but until I can formulate it properly, would you like to elaborate on why you think it would fit in bell's scope? I know that's the question you asked but I would like to hear your opinion on it.

[2015-07-31 06:27] ldesplat commented on #121
### Types of passwordless systems that I am aware of
1. Public/Private Key - ie. Client Authentication in SSL or SSH Key based authentication
2. OTP - You generate a token on your phone or trusted device. I know it stands for One Time Password :)
3. Service sends a token typically to your email or through SMS
4. Not very related here but visual or behavioral recognition

I believe you may be talki

[2015-08-03 14:20] deepakshrma commented on #59
:+1: @chmanie

[2015-08-04 10:17] deepakshrma commented on #59
Install  forked hapi. I have just commented state is already defined method. Just work around.
[code]
[code]
Working Example:
[code]

[2015-08-09 19:35] ldesplat commented on #121
Closing this issue for now. If you have any comments to add please feel free to do so and I will reopen it.

[2015-08-09 19:35] #121 closed

[2015-08-13 15:56] gragra100 opened #122 "Bell for Facebook query parameters"
Hi in my project i'm using a bell strategy for facebook like this:

server.auth.strategy('facebook', 'bell', {
    provider: 'facebook',
    password: 'password',
    clientId: env.FB_ID,
    clientSecret: env.FB_SECRET,
    isSecure: false,
    scope: ['public_profile','user_likes'],
    profileParams: {
      fields: 'id,email,first_name,likes'
    }

The real problem for me is to insert in the

[2015-08-13 17:05] #122 closed

[2015-08-17 14:39] AdriVanHoudt opened #123 "No 'Access-Control-Allow-Origin' header issue"
I am getting:
[code]

I have tried probably everything (setting headers and stuff) but I still get the same error. I only want to load the oath flow in the same window but apparently that is not possible or am I doing something wrong here?

[2015-08-17 16:29] ldesplat commented on #123
Can you elaborate on your issue a bit more. I have had no problem using the same window for OAuth flow by just putting a link to a configured hapi/bell endpoint.

This error I am pretty sure is coming on the browser? Where in the process is it doing it? On initial link to your endpoint? On redirect? Are you accessing your site using http://www.server but then doing the request with just http://ser

[2015-08-17 18:21] gregnorth opened #124 "OAuth2's grant_type is fixed to "authorization_code"."
Is there a particular reason grant_type is always "authorization_code"? The ability to override this would be an awesome feature.

[2015-08-17 18:43] ldesplat commented on #124
There are 4 different types and the implicit one is mostly applicable to untrusted clients.

The other 2, are just a simple call to the OAuth 2 servers. I would accept a PR that implements it cleanly, but I don't see much value. The authorization_code grant has to do a bit of work, with redirecting and some state management which can be tricky to implement properly and therefore implement securely

[2015-08-17 18:54] AdriVanHoudt commented on #123
Yes the browser is the problem. I am doing the request to the server with angular's `$http.get` and the server is on 127.0.0.1:8000 and client on 127.0.0.1:3500. I get the error on the redirect to the url of the auth provider. Doing it in `window.open` works fine, now trying an iframe

[2015-08-17 19:10] ldesplat commented on #123
Should you not be using $location instead of doing $http.get. It does not make any sense to me doing the $http.get since Bell will redirect the user to the login endpoint of the auth provider.

There, the user logs in and or is automatically seen as logged in (cookies, ...) and then the user is redirected back to our bell endpoint which uses the information in the redirect to ask for an access_tok

[2015-08-17 19:37] AdriVanHoudt commented on #123
You are a god, works like a charm :pray: I almost had a mental breakdown on this today :worried:
For a quick follow up question, any idea how I can get a hold of the original request url (client url) in the handler?

[2015-08-17 19:37] #123 closed

[2015-08-17 20:02] AdriVanHoudt opened #125 "Provide variable providerParams"
My provider accepts extra query params on the auth route, which you can set with `providerParams`. But afaik I don't see an option to change these values on every request. For example I can provide a `login_hint` query param but this hint is different on every request

[2015-08-17 20:29] ldesplat commented on #125
Yes, you are right. Looks like this can be useful. I want to add more support for OpenID Connect and this is part of it so I would appreciate a PR if you need it right now :)

https://github.com/hapijs/bell/blob/master/lib/oauth.js#L149

Looks like, we can easily add it. Just not sure, how to pass it to the endpoint (query params? cookie? ...)

[2015-08-17 21:37] AdriVanHoudt commented on #125
I need the query params so I would do `Hoek.merge(query, request.query)` there

[2015-08-17 21:49] ldesplat commented on #125
I am trying to think about this. What would be a good API for this.

Yes, I think that's the right way, but maybe enforcing the spec may be safer http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest . By that I mean, only allowing the options defined in the spec.

I am also trying to decide if maybe we should create a new protocol (currently OAuth 1, OAuth 2 and now OpenID Connect) bas

[2015-08-17 23:56] ldesplat opened #127 "Document Bell Core API and Providers API"
- Don't forget we expose the OAuth implementation so it can be used without being part of the default bell scheme.

[2015-08-18 07:06] AdriVanHoudt commented on #125
I am all for implementing the spec and using OpenID (as far as I know about from reading the intro and your link :P) but this does not help me in particular since my auth provider is not following the spec by having it's own query params.
Would you still accept a PR for the merge thing?

[2015-08-18 21:28] ldesplat commented on #125
Yes, I would love a PR for it.

I don't want a blind merge though. If we could specify a setting in providers to say which params are dynamic and then only merge those. I would accept that.

Ideally, the application would set a signed cookie with the param names and values that we then retrieve and use. At least, we could ensure our application has approved those values. But maybe it's not necessa

[2015-08-19 07:38] AdriVanHoudt commented on #125
Ok so it would look like

* declare allowed runtime query params in config
* send request to bell route with extra query params
* check if all are allowed (fail when one is not or just ignore it? Joi would be an option for this, like allowing to specify a schema to test against)
* merge the extra params with current query (override runtime with preconfigured or other way around?)
* store query in

[2015-08-19 17:00] ldesplat commented on #125
I would prefer we fail if the checks fail

The runtime ones take over but only if they are allowed as runtime params :)

Unfortunately, that's too late to do so. At this stage, we should be verifying that the cookie match the query. Maybe providing a callback function that the application can implement where they are given the query params and values along with the current request. Then the applic

[2015-08-19 17:06] AdriVanHoudt commented on #125
Fail seems good, runtime nly taking over if allowed is done with the previous check

And leave what exactly alone?
Let me do a PR and then we can go from there

[2015-08-20 08:56] GJ2511 opened #128 "FB Auth :- Request.Resource is undefined"
Hi I am trying to use FB auth with bell + hapi.js . I follow all the steps provide in documentation. But when I am hitting the respective route Resource becomes undefined in request,  while it is working fine for my other routes

here is my code

    server.register(require('bell'), function (err) {
           server.auth.strategy('facebook', 'bell', {
                provider: 'facebook',

[2015-08-20 09:02] mtharrison commented on #128
What is `req.resources`?

[2015-08-20 09:06] GJ2511 commented on #128
This is an object I used to set on preHandler

here for example:-

server.ext('onPreHandler', function(req,res){

req.resources = req.resources || {
ip : "xxx"
};
});

[2015-08-20 09:19] mtharrison commented on #128
What's happening is that `onPreHandler` isn't running for your bell route because the auth strategy has already set a response (i.e. the redirect to facebook) so there's no need for a handler.

It you have to decorate the request for every request like that, do it in `onRequest` instead which comes earlier in the request lifecycle and is guaranteed for every request.

Also I would advise against s

[2015-08-20 09:27] GJ2511 commented on #128
Thanks for your suggestion .... I will try this..

[2015-08-20 12:22] GJ2511 commented on #128
it is working fine thanks @mtharrison

[2015-08-20 12:22] #128 closed

[2015-08-20 18:46] ldesplat opened #132 "Fix lasting linting issues"
See #130 for what was done.

[2015-08-22 20:05] #125 closed

[2015-08-22 20:33] ldesplat opened #133 "Update Wreck to 6.1.0 or latest version"
Breaks tests
Most likely a breaking change for people with custom providers :(

[2015-08-22 20:36] ldesplat commented on #124
I am going to close this issue. If you feel strongly about it, feel free to reopen it and I'll keep it there until someone implements it!

[2015-08-22 20:36] #124 closed

[2015-08-26 09:52] PaulMougel commented on #55
I'd love to be able to use SAML with bell. Any thought on where to start?

[2015-08-26 18:41] ldesplat commented on #55
You would have to implement it. So you would add a new protocol to bell called SAML.

A protocol is really this:
[code]

You can find the complicated specs here https://wiki.oasis-open.org/security/FrontPage#SAML_V2.0_Standard and there https://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf

If you do decide to try writing it, you may make a PR request and we can see how we can help y

[2015-08-26 20:14] molekilla commented on #55
starting a fork

https://github.com/autentifactor/bell/commit/7e5b04663c67ece341a773ccdfa3729394f377c1

[2015-08-28 14:48] molekilla commented on #55
I managed to use passport-saml with  hapi. I think that it should be a separate plugin as it has a specific auth flow than OAuth (e.g. metadata endpoint). I probly work on this later this  year, but suffice to say that integrating it to bell is not straightforward

[2015-09-02 18:56] gabceb commented on #4
FWIW, we are experiencing a similar issue with Bell (Google as a provider) if we take too long to respond to the request that has an auth of `'google', 'bell'` because it fires the request to Google twice. Disclaimer: we are running a very old Bell (1.3.1) and Hapi (6.1.11) so feel free to discard if it works in newer builds.

To repro this with newer versions you can add a long timeout to the end

[2015-09-05 10:27] PaulMougel commented on #55
Thanks @molekilla for giving this is a spin! Would you care to share how you integrated passport-saml into hapi?

[2015-09-06 15:18] molekilla commented on #55
here you go
https://github.com/molekilla/hapi-passport-saml

[2015-09-07 21:08] Icehunter opened #134 "Question: How to use bell to link multiple providers to one saved user account?"
Hi!

As the title says; once I login with one; how would I go about using bell to login with another but linking the two on the back end?

Between google/facebook/twitter I get different information. On the first one I save the user to the session with hapi-auth-cookie; however by the second time around (since I use bell for the auth strategy) it's gone at that time and not shared between routes.

[2015-09-07 23:08] sgentile opened #135 "JWT ?"
We are currently using JWT with Hapi, but I want to add in facebook/twitter support - does bell support JWT ?

[2015-09-08 01:44] devinivy commented on #135
Are you referring to any particular third-party services that use JWT?  You can always register multiple auth strategies to a given route (using an array of strategy names)– sounds like that might be a nice scenario for you if you already have a strategy that uses JWT and you want to add additional bell strategies.

[2015-09-08 01:52] sgentile commented on #135
Thank you perfect - I don't think I realized you can pass an array of strategy names!

[2015-09-08 01:52] #135 closed

[2015-09-09 07:29] bherila opened #136 "OAuth provider is detecting 'socket' instead of 'http' as protocol"
Consider the following OAuth URL generated by Bell:

https://www.facebook.com/v2.3/dialog/oauth?client_id=859994797418065&response_type=code&redirect_uri=socket%3A%2F%2Fwebtier.undergroundcellar.com%2Fsignin%2Ffacebook&state=y2uYfM8i97sgrzcAQnn7w6&scope=email

Looking closer, at `redirect_uri` query param, we see the protocol is "socket"

This is coming from here: https://www.facebook.com/v2.3/dia

[2015-09-09 18:01] ldesplat commented on #136
What does your route config look like?

[2015-09-09 18:18] ldesplat commented on #134
Are you missing some information?

Can you share how your are doing it? If you are only storing state in the cookie, then you could store the auth tokens depending on which strategy is used such as:
[code]
Or something similar? I have to guess, the state you have to keep in the cookie would get pretty big, so maybe offload that to some in-memory database if the cookie gets too big.

[2015-09-09 20:09] bherila commented on #136
Route config:
[code]

now there **is** a proxy however it is not on that route:
[code]

and I do process the route in the following way (but do not believe this is leading to the issue)
[code]

Entire routes.js if you are so inclined: https://gist.github.com/bherila/6ba0b9be1daa4b220fbe

Thanks again for your help :smile: !

[2015-09-09 21:40] ldesplat commented on #136
I asked for the wrong information!

So your routes are not listening to a http or https connection. Maybe, you are using a unix socket for your connection(s)? Maybe you have a reverse proxy configuration and nginx/apache/haproxy or whomever is sending the data that way?

Either way, we should be supporting that mode so it looks like a bug to me. We should be forcing http or https I am pretty sure.

[2015-09-09 21:48] ldesplat commented on #136
You are welcome to send a PR.

Probably have to change [L159](https://github.com/hapijs/bell/blob/master/lib/oauth.js#L159) , [L192](https://github.com/hapijs/bell/blob/master/lib/oauth.js#L192) , and [L26](https://github.com/hapijs/bell/blob/master/lib/oauth.js#L26)
Looks like also some code for oauth v1 needs to change.

[2015-09-10 00:30] Icehunter commented on #134
I have the /login/{provider} routes setup like in the examples.

On the main service I have:
[code]

So in any routes I have session as my strategy. But of course for the login routes I have twitter, google, etc.

When I log:
request.auth in the handlers for twitter/etc I only see the object which has come back/been set the bell plugin, and only after I do request.auth.session.set(data); does it s

[2015-09-10 23:24] ldesplat commented on #134
I would have to put a gist together to show this but if you want to try for yourself, until I get to it, you basically have to combine the auth strategies together. There is no Hapi way to do it, but basically you create a new strategy which does the hapi-auth-cookie stuff, and then does the bell login. Like this, you have access to the things you need. On your other routes, you use the hapi-auth-

[2015-09-10 23:30] ldesplat commented on #134
Oh and just in case your use case is simpler than I think it is. You can set up multiple strategies on a route. So you can set `hapi-auth-cookie` and then `facebook` by doing `auth: ['session', 'facebook']`. The downside is that facebook login will not be attempted if the user is already logged in via the previous strategy.

I think I am correct that you need to link multiple social accounts to on

[2015-09-10 23:35] ldesplat commented on #136
You can use `location` option.

location - Set the base redirect_uri manually if it cannot be inferred properly from server settings. Useful to override port, protocol, and host if proxied or forwarded.

[2015-09-10 23:35] #136 closed

[2015-09-10 23:50] ldesplat commented on #134
I can't believe I forgot. I would recommend you use `yar` instead of `hapi-auth-cookie` it's easier to integrate together with bell then!

[2015-09-11 17:59] ldesplat commented on #127
Fixed by #139

[2015-09-11 17:59] #127 closed

[2015-09-11 18:00] ldesplat commented on #109
Fixed by #139

[2015-09-11 18:00] #109 closed

[2015-09-11 19:26] #25 closed

[2015-09-11 19:26] #132 closed

[2015-09-15 06:13] digitaldesigndj opened #141 "500 error on google auth"
I have bell working perfectly for Twitter authentication, but when I try to auth with Google, the server was just quitting with a 500 error. After adding `{ debug: { request: 'error' } } ` to my Hapi server.config, I get the below errors, but I can't make heads or tails of it...

[code]

[2015-09-15 06:14] digitaldesigndj commented on #141
I tried to add some `console.log`'s to my handler and validation functions, but they never seem to get called...

[2015-09-15 16:16] ldesplat commented on #141
Put a `console.log(err, response)` at https://github.com/hapijs/bell/blob/master/lib/oauth.js#L273.
Just go into your node_modules/bell/oauth.js and modify it directly. Maybe there will be more information.

If I have to guess though it is because of the following:

I should add this to the Providers.md documentation for the Google one.

[2015-09-15 17:05] digitaldesigndj commented on #141
That's the ticket! Thanks for the help :+1:

[2015-09-15 20:23] #141 closed

[2015-09-17 06:06] rajeev37 opened #143 "not getting email from linkedin"
I am using bell for getting Linkedin detail but i am unable to access email. the response comes from Linkedin are:
 profile:
   { id: 'ur6DT0hN6Y',
     name: { first: 'Rajeev', last: 'Thakur' },
     email: undefined,
     headline: 'Ruby On Rails at Swift Setup',
     raw:
      { firstName: 'Rajeev',
        headline: 'Ruby On Rails at Swift Setup',
        id: 'ur6DT0hN6Y',
        lastName: '

[2015-09-22 00:08] ldesplat commented on #143
Have you figured it out already?

If not, when you're creating your linked in strategy you can add `scope: ['r_basicprofile', 'r_emailaddress']`. See if that helps.

[2015-09-22 10:24] chaiyitsheng opened #144 "email not returned by facebook"
i have the following code

		server.auth.strategy(providerName, 'bell', {
	        provider: providerName,
	        password: config.cookie.password,
	        clientId: config.login[providerName].clientId,
	        clientSecret: config.login[providerName].clientSecret,
	        scope:config.login[providerName].scope,
	        isSecure: false
	    });
where the config.login[providerName].scope = ['

[2015-09-22 21:44] diego04 commented on #144
user_friends: you will only see the person's friends if they are using your app as well. for email, sometimes it is null because the user used a cell phone number when they registered to facebook.com, if  you are using multiple facebook account and they all dont return an email, then im not sure

[2015-09-22 22:10] diego04 opened #145 "auth fb problem"
in your example in the main page you have the path 'login':
I haven't tried other providers. I've only been using facebook.
If you do multiple request per second in '/login'
you can even doing it by opening a new tab in the browser real fast and pasting 'localhost:8000/login' consecutively. eventually, you will get a '500 error', what should we do here?

[2015-09-23 06:22] chaiyitsheng commented on #144
hello, the facebook account used an email for registration and is enabled as the primary email. Login with  Google+ works perfectly and returns all the information requested in the scope. Maybe facebook has some filtering going on. Thanks anyway.

[2015-09-23 16:47] ldesplat commented on #144
What version of Bell are you using? There were some changes in `5.0.1` but even then you should be getting the email. At least it does for me whenever I have tried which is every release since.

Did you also look at `raw` object at the same level as where `email` would be? Does it have what you need?

Also, you may have to specify
[code]

You can see what we include by default at https://github.co

[2015-09-23 16:50] ldesplat commented on #145
Do you know if the `500` error is from us or because Facebook returned with it. I would assume that if you keep spamming the same user that Facebook would rate limit you?

We may have some sort of issue but this seems like something Facebook would protect against?

[2015-09-23 20:59] diego04 commented on #145
Yes, I think (have not tested) that it is because of facebook returning null or error. Im not too sure if the 500 is from facebook or bell. In any case, what do you recommend for us  (users of bell) to do in this situation. Should we just do a try catch and where is the best place to put it?

[2015-09-23 21:41] ldesplat commented on #145
If you could reproduce this once more but this time gather more information, you can copy/paste some of the information here and I can help to diagnose it.

The `500` error is obviously not giving you any information but you can use [hapijs/good](https://github.com/hapijs/good) and log the error events and we should have more information as to where the `500` comes from.

You can also use [hapijs/

[2015-09-24 16:31] diego04 commented on #145
Alright, I'll get back to you

[2015-09-24 22:07] ldesplat commented on #133
no breaking changes after all

[2015-09-24 22:12] #133 closed

[2015-09-28 18:48] phoenixbox commented on #4
I was experiencing this error when I realized that my `location` param did not match my referrer.

I was hitting auth from `localhost:3600` and my location param was set to `local.#{myApp}:3600` which I had aliased to localhost in my `etc/hosts`. Maybe the location param is the source of error for others

[code]

[2015-09-30 08:35] chaiyitsheng commented on #144
Hello, thanks everyone for the help, very kind of you. I had Bell version 1.1.0 (really old version installed), after switching to the latest version 5.x.x, everything is working and returning properly.

Another question that's somewhat related to Bell, the facebook login returns an object profile in the following format.

profile:{
id:1xxxxxxxxxxxx,
email abc@xyz.com
}

which do you use as a prim

[2015-09-30 11:47] rajeev37 commented on #143
@ldesplat  I have already added that scope to linkedin strategy and also update bell version to latest but still it not getting email.

[2015-09-30 17:13] ldesplat commented on #143
So, I looked at the documentation for LinkedIn and figured it out.

In your strategy add the following:
[code]

Feel free to add more. See the fields you can addat  [https://developer.linkedin.com/docs/fields](https://developer.linkedin.com/docs/fields).

[2015-09-30 17:18] ldesplat commented on #144
Facebook has some really good documentation. For example [https://developers.facebook.com/docs/facebook-login/multiple-providers](https://developers.facebook.com/docs/facebook-login/multiple-providers) outlines some good strategies.

I personally, assign an id created by myself, use and verify their facebook email address (send an email). Then I exchange the token for a long lived one (since I don

[2015-09-30 17:18] #144 closed

[2015-09-30 18:34] gragra100 opened #149 "No 'Access-Control-Allow-Origin' header issue"
Hi, i know that there are a lot of this issues, but they are all closed.
i am in a similar situation: https://github.com/hapijs/bell/issues/123
i have the same error

 No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access.

i am using bell and this is the strategy:

    provider: 'facebook',
    password: 'password',
    clientI

[2015-10-01 00:48] ldesplat commented on #149
You're redirecting the user way out of the angular application so if you just do
`window.location.href = "http://" + $window.location.host + "/auth/facebook";` it may work?
Notice the missing `$` on the first window. Who knows what angular tries to do :)

If you still have problems you can do `window.open("http://" + $window.location.host + "/auth/facebook");` that one has to work! I know it opens

[2015-10-01 07:03] rajeev37 commented on #143
When I added this to linkedin strategy like:
server.auth.strategy(
            'linkedin',
            'bell',
            {   provider    : 'linkedin',
                password    : Config.linkedin.password,
                clientId    : Config.linkedin.clientId,
                clientSecret: Config.linkedin.clientSecret,
                providerParams: {
                     fields: '(id,firstNa

[2015-10-01 07:41] PaulMougel commented on #143
Try using `(id,first-name,last-name,email-address)`.

[2015-10-01 07:52] rajeev37 commented on #143
@PaulMougel  still getting same error.

[2015-10-01 08:32] gragra100 commented on #149
Thank you but it doesn't work... If i use window.location.href = "http://" + $window.location.host + "/auth/facebook"; without $ it gave me the same 'Access-Control-Allow-Origin' header error.
 If i try with window.open it give me this: Uncaught Error: [$injector:modulerr] http://errors.angularjs.org/1.4.3/$injector/modulerr?p0=app&p1=Error%3A%20%…2F%2Flocalhost%3A8080%2Fpublic%2Flib%2Fangular%2Fa

[2015-10-01 14:45] PaulMougel commented on #143
Looks like I forgot a `:` before the left parenthesis. Here is my current exact configuration:

[code]

linkedin.js
[code]

And I'm getting back the email address in `request.auth.credentials.profile.raw.emailAddress`.

[2015-10-01 16:43] ldesplat commented on #143
I would appreciate a PR for `Providers.md` documenting the `providerParams: fields` and how it should be formatted. The LinkedIn provider should have done that formatting in the first place to be in line with the others but we can document it for now.

[2015-10-02 07:48] rajeev37 commented on #143
@PaulMougel Its working now .Thanks for your valuable help and thanks @ldesplat for such a great module.

[2015-10-02 09:44] PaulMougel commented on #143
I'm glad I could help.
Good suggestion @ldesplat ; I'll work on a quick PR over the week-end.

[2015-10-02 18:45] #143 closed

[2015-10-03 13:14] PavelPolyakov opened #151 "Bell does not work with Hapi 10"
Hi,

Just tried the example from the front page of the documentation.
The, from the "examples" folder.
[code]

And here is what I have in the console when starting the server:
![image](https://cloud.githubusercontent.com/assets/839290/10263101/58e439de-69e1-11e5-9528-66122c38bf4f.png)

Are the examples outdated?

Regards,

[2015-10-03 13:32] PaulMougel commented on #151
It looks like bell does not work yet with `hapi@10.x`. Try with `hapi@9.x`, and the example should work just fine.

[2015-10-03 13:43] PavelPolyakov commented on #151
@PaulMougel
Thanks, waiting for the plugin update then.

[2015-10-03 19:10] ldesplat commented on #151
Looks like Hapi 10.0.x works, but it definitely broke with 10.1.x in a very bad manner and breaks in a much better manner with Hapi 10.2.x.

Either bell is registering itself in a way that was never supported (most likely) or Hapi just broke semver :)

[2015-10-04 02:58] ldesplat commented on #151
I have identified 2 issues and already raised one with Hapi. I am still tracking down the other one which is a bit more serious. Definitely do not use it with Hapi 10 for now. Also, I have taken down the liberty to change the title of this issue.

[2015-10-04 23:36] hansman commented on #151
I got the same problem.

[2015-10-05 03:38] ldesplat commented on #151
Once Hapi 9.4.0 is released, then Bell will work. Eran fixed up the main issue very fast :). Bell's tests currently fail with Hapi's master branch but that's partially Bell's fault and has no repercussions on Bell's behavior. With the tests fixed, then Bell's tests all pass

[2015-10-06 01:37] ldesplat commented on #151
Well, Hapi 10.4.0 fixes the two issues. So Bell tests now pass with Hapi 10.4.0. We are missing 1 line of coverage because Hapi 10 does the right thing unlike Hapi 9 but apart from that it's good.

[2015-10-06 01:37] #151 closed

[2015-10-06 01:39] ldesplat opened #152 "Run tests against Hapi 9 and 10"
Since, we all want to use Hapi 10 as shown in #151!

[2015-10-06 07:06] PavelPolyakov commented on #151
@ldesplat
Thanks for the updates!

[2015-10-06 13:13] arb commented on #152
I'm very curious how you're going to do that.

[2015-10-06 13:31] devinivy commented on #152
It wasn't pretty, but I did this in the past: https://github.com/devinivy/dogwater/blob/6b8db9a6dd5aa0cdd18d550d6931fe5aa6fcab67/test/index.js

Might want to check out https://github.com/npm/npm/issues/5499

[2015-10-07 03:06] #152 closed

[2015-10-14 17:37] ravisuhag commented on #134
The way i am handling it is by checking ``` request.state['Basic-auth'] ``` for ```hapi-cookie-auth``` in case it is there, integrate the social data otherwise sign up user. Would love to receive comments. One thing i am struggling is on figuring out the best approach for long-lived tokens. @ldesplat any suggestion for that ?
[code]

[2015-10-14 20:13] ravisuhag commented on #30
@jedireza late in party but i have come up with a solution for this, if you still need it. Not sure how much robust it is, but open to discussion.
Check here : https://github.com/hapijs/bell/issues/134

[2015-10-14 22:54] ericeslinger opened #156 "Google provider isn't passing providerParams properly"
Specifically, I need access_type: 'offline' and approval_prompt: 'force' to go through. This worked in bell 3, but stopped working in bell 5. I'm not sure if google's oauth2/v2 endpoint expects a differently-formatted request, but if I change the auth parameter in google.js from https://accounts.google.com/o/oauth2/v2/auth to https://accounts.google.com/o/oauth2/auth, everything works just fine.

[2015-10-15 10:27] hems commented on #156
i'm having some issues with not receiving displayName and first / last name from some users when they logging in as well.

i still didn't figure it out as well.

[2015-10-15 10:33] hems opened #157 "google credentials with empty displayName and name ?"
I just noticed some users are having problems with empty DisplayName and name when logging in with google.

On their gmail their info is correct, but i suspect they never entered on google+ and that is were the problem lives?

[This stackoverflow answer](http://stackoverflow.com/questions/28382282/getting-blank-name-display-name-from-google-plus-api?answertab=votes#tab-top) says something about us

[2015-10-15 20:45] ericeslinger commented on #156
Turns out the providerParams is just fine. The problem is that `approval_prompt=force` was changed to `prompt=consent` in the new v2 endpoint, per [this SO post](http://stackoverflow.com/questions/33137140/googles-oauth2-endpoint-v1-vs-v2-changes/33156346#33156346). Which, of course isn't documented or anything, but who expects google to document their changes.

Closing this, since it's not a bell

[2015-10-15 20:45] #156 closed

[2015-10-15 20:46] ericeslinger commented on #157
Did you add `https://www.googleapis.com/auth/plus.login` as a scope in your bell definitions?

[2015-10-15 22:30] jedireza commented on #30
@ravisuhag thanks for the update!

[2015-10-19 14:09] hems commented on #157
@ericeslinger i didn't!

what this is supposed to do differently?

where could i find more documentation about it?

the confusing thing is : i already have about 150 registered users and some of them are totally fine and some of them had this issue, so i'm wondering if changing the scope could potentially change the way my application would have to work in order to parse information from the old a

[2015-10-20 16:49] ldesplat commented on #157
See hapijs/bell#108 for some information. If that does not help you, maybe you can @ mention the person who made those changes and see if he has any ideas.

[2015-10-20 16:51] ldesplat commented on #149
I know I wasn't any help there! Were you able to figure it out? Have you tried with Hapi 11 since it has CORS updates? (note, that I haven't run tests with bell against Hapi 11 yet).

[2015-10-20 16:52] ldesplat commented on #145
@diego04 Do you have any updates on this? Do you still think it's potentially a Bell issue?

[2015-10-20 16:59] ldesplat commented on #134
@ravisuhag There are lots of ways to handle long lived tokens. But in the end it's a simple call to exchange the short lived one for the long lived one. I like to do it in the background through some sort of queue. You can also do it when a user logs in/signs up, verify the token and after you've replied to the user, just go ahead and exchange the token if you don't have a long term one already.

[2015-10-20 18:06] hems commented on #157
@ldesplat i just added:
[code]

and so far i didn't see any difference, will let you know once i test it properly.

[2015-10-20 18:06] #157 closed

[2015-10-20 20:00] ravisuhag commented on #134
Great, thanks. Seems like we have to have a differnt exchange strategy for each provider. I was thinking of writing a generic function for all the providers as in above comment. But I guess we can live with one helper for each provider to get long lived token.

[2015-10-20 23:28] diego04 commented on #145
Im trying out good and tv seems to be broken. I've just started learning hapijs/good the basic configuration  doesn't give me enough information. A quick fix I did was to prevent access that url multiple times. I believe it is mostly an issue with fb response, in normal situations bell works great. I'll let you know more if I can figure out how to properly configure hapijs/good to give me a more d

[2015-10-28 01:55] Icehunter commented on #134
@ravisuhag Thanks for the response although I tried what you have and I never see hapi-auth-cookie in state. Or basic auth.

I have one global handler function and buy the time it gets the request info the state and credentials have been overwritten with the new strategy used.
[code]

[2015-10-31 01:21] ldesplat opened #159 "Bell 6 Release Notes"
# How to upgrade
Update your application to node 4+ and Hapi 11+
You do not have to do anything else.

# What changed
[ ] ~~extendedProfile option used for all providers~~
[ ] ~~consistent output in all providers except for raw (not all fields may be there, but put them in the same place)~~
[ ] ~~Ensure all providers are using the latest published API~~
[x] Node 4+ only (Test 4.0, 4.x.x, 5.x.x)
[x

[2015-11-02 04:02] bmcmahen commented on #111
@ldesplat would it be possible to use the Facebook SDK to retrieve the bearer token from Facebook, and then pass that onto Bell... which would then create a session on the server-side? The redirect strategy doesn't work as well for mobile, where it would be preferable to use the Facebook SDK for this instead.

[2015-11-02 17:54] ldesplat commented on #111
@bmcmahen next time just create a new issue please. It's so easy to ignore closed ones. You can always link to another issue within your post.

I do the same exact thing in one project. I actually don't use Bell at all, in that project, since I only manage facebook and use their sdk with implict auth. You just need to exchange that token for a long lived one (pass in the token plus your app's clie

[2015-11-02 18:56] bmcmahen commented on #111
Thanks @ldesplat - I ended up implementing something similar, using `hapi-auth-cookie` on the server and verifying the iOS provided token using the Facebook graph api. Cheers, and thanks for the help.

[2015-11-03 11:28] tanepiper opened #161 "Twitter OAuth: Failed obtaining twitter temporary credentials"
Hi there,

I've been trying to implement a login with Twitter for an app I'm working on.  Following the example provided I get the following stacktrace:

[code]

I've taken the headers passed to the URL and used Postman, I'm also getting this from twitter (but because OAuth not sure if this is also correct)

[code]

I've tried to dig in a bit further and it does seem like I'm getting a 401 back, i

[2015-11-03 12:19] tanepiper commented on #161
Scratch that - turns out Twitter had not saved my callback url in the app - so this locks it into OOB mode.  Once I did that, started doing the oauth dance.  However has lead to another issue:

[code]

Digging into this one too, it seems that `request.state` is an empty object, `cookie` is set to `bell-twitter`

[2015-11-03 13:01] tanepiper commented on #161
OK! More digging about, ended up going into the Hapi internals to find that if you are developing locally without https, you MUST set `isSecure: false` when making a OAuth login request to Twitter.

[2015-11-03 13:01] #161 closed

[2015-11-03 17:10] ldesplat commented on #159
After thinking about it a while, I won't change the oauth providers. No need to break people for not many benefits especially with how all providers are documented now.

This means, that only updating node and Hapi are the breaking changes.

[2015-11-03 20:37] #159 closed

[2015-11-15 00:52] jpstevens opened #163 "Auth fails silently"
Is there an easy way to enable more robust error logging in Bell?

Any misconfiguration in my custom provider simply returns:
[code]

With nothing written to stdout/stderr.

Please help, I need my logs... :broken_heart:

[2015-11-15 19:54] ldesplat commented on #163
Yes, I agree there should be more robust error logging. You can see #158 for a discussion on it. If you want it done sooner rather than later, I will gladly accept a PR for it.

[2015-11-18 08:37] ghost opened #164 "OpenID support"
Hey!

It would be great if bell could support OpenID along side oauth. I need to access steam's ( http://steamcommunity.com/dev) authentication system and they only support OpenID...

Thanks.

[2015-11-18 08:59] Marsup commented on #164
As mentioned on gitter by @AdriVanHoudt, `hapi-openid-connect` might do the job ? I'm no OpenID expert so I don't know what Connect is.

[2015-11-18 09:05] AdriVanHoudt commented on #164
you can ask @aliismael to publish it

[2015-11-18 09:27] Marsup commented on #164
It already is. The readme may not be up to date.

[2015-11-18 09:35] aliismael commented on #164
I am planning on releasing a stable (production worthy) version of the hapi-openid-connect module with a fully functional sample app by the end of this year.   I will add a comment here when done.

The module will have complete implementation of OpenID-Connect core and discovery specifications, and we are using it with Amazon AWS as an identity provider for one of our applications.

When completed

[2015-11-18 09:43] aliismael commented on #164
Hi Nicolas,

I just noticed that you are in Lyon, and thank goodness you are safe and in
a safe place after terrorist attacks by those bastards in France a couple
of days ago.

We feel the gratitude to what you have contributed everyday (we use Joi in
every project at PayPal, and in my other consulting projects).  Thank you
so much for all your work, and stay safe.

Your truly,
Ali

Yours truly,

[2015-11-18 16:03] unutoiul opened #165 "Can bell work with openid, i'm looking to integrate steampowered.com with Bell"
How is possible to do that? is there any example?

Thanks,
Lucas

[2015-11-18 16:12] Marsup commented on #165
Duplicate of #164. Please search issues next time.

[2015-11-18 16:12] #165 closed

[2015-11-18 17:27] ldesplat commented on #164
Bell allows you to login with OpenID Connect 1 Providers. Because the core component of OpenID connect is using OAuth 2. I've done it in the past and we do it with the Google provider here.

So, if you don't need all the features and just login, you should easily be able to implement auth using steam. Just add a provider, I am sure they have more documentation as to the endpoints.

[2015-11-19 18:35] ddaza opened #166 "Google oath is failing authentication, bell@6.0.0"
I've been trying to use the plugin and have google authenticate. Everything seems to go through ok but when I get redirected back to my server  `request.auth.isAuthenticated` is always false and I get the errors posted below. In the 1st attempt the server hangs and fails,  in the 2nd the server fails all together.

is there a problem with my settings or am I missing something?

thanks, any help wo

[2015-11-19 19:15] arb commented on #166
Can you post your route configuration?

[2015-11-19 19:20] ddaza commented on #166
Sorry for the issue posting. There wasn't a real problem.

The problem was I was using a non Gmail account to login to the App.

Google+ API requires you to have a Gmail account in order to log you in.

It was my bad, and in part Google Plus restrictions for non-gmail emails/accounts.

[2015-11-19 19:20] #166 closed

[2015-11-19 23:08] nahtnam commented on #164
Hm, Ill try it out then. Is there a sample of custom oauth2 I can use to test? I cant find oauth2 in the providers section of the docs.

[2015-11-20 00:03] hueniverse opened #167 "Simulated mode"

[2015-11-20 00:40] ldesplat commented on #164
Looks like they decided to implement OpenID 2, more than OpenID Connect though they mention connect. If that is the case, then it is definitely not compatible.

[2015-11-20 00:43] #167 closed

[2015-12-02 16:11] ddaza opened #170 "Facebook isSecure bug?"
I have 2 configs set up in my server. (Facebook and Google) for `bell@6.0.x`

I have an SSL secured server and I have set `isSecured='true'` in both configs.

[code]

When tested locally ( only changing `isSecure='false'`) everything seems to work properly.

But when deployed to my server the config fails and responds with:
`Invalid setting  - isSecure must be set to false for non-https server`

T

[2015-12-02 17:12] ldesplat commented on #170
How come you don't have the location field for facebook? You most likely need to configure that as well just the same way you did with google.

[2015-12-02 18:24] ddaza commented on #170
I think that's the issue. Thanks.

[2015-12-02 18:24] #170 closed

[2015-12-03 14:48] unutoiul commented on #164
Hi Guys,

I'm trying to find a solution to use Open ID 2 with Steam using Hapi.js but i can't find anything helpful, did anyone done this kind of Open ID 2.0 connection using hapi.js?

Thanks,
Lucas

[2015-12-08 05:54] gordysc opened #171 "No 'Access-Control-Allow-Origin' header is present on the requested resource"
I'm trying to use CORS in hapijs 11.1.2 with this library (bell), but I can't seem to get the 'Access-Control-Allow-Origin' header to be specified.  I've seen quite a few similar examples (#149, #123, #74), but haven't had any luck.  I'm making an AJAX call from the front end to hit this route to authenticate with Facebook and then do some additional logic.  However, whenever I hit this route I'm

[2015-12-08 06:38] #171 closed

[2015-12-08 06:38] gordysc commented on #171
Handled this via UI library

[2015-12-15 00:51] hazkiel opened #172 "Configurable 'state' value for GitHub"
Hi, I'm currently using the Github provider and I need to link the user's Github account with his local one.
The issue is that I don't have a way to track which user is going through the GitHub OAuth process

If I had access to the 'state' variable being sent internally by bell to the Github /authorize API, I could save that in the local user account and be able to link the Github profile later by

[2015-12-29 22:52] ldesplat commented on #172
I am so sorry, I completely forgot to reply to this issue.

I do not understand how you would track the user even if we gave you access to the state. How would that API work... we generate the state on the first request, how do you know it's coming from the same user you were tracking before (somehow without a cookie?)?

[2015-12-30 00:50] hazkiel commented on #172
Well, Github for instance returns the same state parameter you provide in
its response, so I would do this:
1. save the state value in the user's db record on the first request
2. bell calls the Github API
3. Github redirects to our own API and provides the same state value
4. use this value to find the user record

I hope this explains what I'm aiming for.

On Wed, Dec 30, 2015, 12:53 AM Loïs Des

[2016-01-05 18:06] DJMcK commented on #167
@ldesplat noticed this hasn't landed in a published release yet. Do you mind publishing a new version if all is good? Much appreciated.

/cc @hueniverse

[2016-01-06 20:41] ldesplat commented on #167
I am sorry but I won't be able to until this weekend. I am in the middle of a big move right now. Maybe @geek can help if he's feeling generous and you really need it :)

[2016-01-06 21:08] DJMcK commented on #167
Not a problem @ldesplat! I'm in no critical need for the feature. This feature is just a real nice-to-have that'll simplify things and let me remove some code (which is always nice!)

[2016-01-12 17:25] ldesplat commented on #167
@DJMcK 6.1.0 is released.

[2016-01-12 19:18] DJMcK commented on #167
@ldesplat Awesome, thank you.

[2016-01-31 09:19] thebillkidy opened #175 "Bug: Missing facebook request token cookie on reload popup window"
When we reload the popup window of Facebook we get a "Missing facebook request token cookie" error.

The stacktrace:

[code]

[2016-01-31 09:48] thebillkidy commented on #175
Nvm, can be solved. Just saw that this error gets handled in the library and that we should catch it. Sorry for this

[2016-01-31 09:48] #175 closed

[2016-01-31 14:18] Belar opened #176 "Twitch provider"
Hi,
I'm writing a provider for Twitch.tv and can't get past access token retrieval. Once user adds "app" to an account, I receive ["Failed obtaining twitch access token"](https://github.com/hapijs/bell/blob/master/lib/oauth.js#L234) (info from the debug, Bell is spitting 500).

I went through issues from the past, secure connection is off, there is no need to enable API in the profile.

If anyone

[2016-01-31 17:47] nouellette opened #177 "Usage without a strategy"
I'm trying to use bell v2 without using a strategy because I want to dynamically change the location setting on the fly depending on an override setting. But I am running into an issues using it.

The problem is at the end of the cycle of exchanging the token for the data. I think it relates to this line of code:
https://github.com/hapijs/bell/blob/master/lib/oauth.js#L229

Because of the async na

[2016-01-31 18:49] ldesplat commented on #172
Ok, I understand what you're trying to do. I believe most people are already tracking their users through some sort of session mechanism so it's not very useful except in special cases like yours.

You are free to submit a PR that does something like that. You would have to make sure that the generation of the state variable is not only properly random but also guarantees uniqueness. If I were to

[2016-01-31 19:03] ldesplat commented on #176
Under `protocol: 'oauth2'` add `useParamsAuth: true`. I think that should do it.

[2016-01-31 19:04] ldesplat commented on #176
Feel free to ask more questions here, and when you're done you can submit a PR to add a twitch provider :)

[2016-01-31 19:48] ldesplat commented on #177
This is not application to your use case but FYI you can use a strategy to add dynamic parameters
[code]
---
Now, I haven't gotten to the specifics of this in a few months so I may be saying something stupid.

I think you're almost there, the problem is that you're overriding the location perfectly on the first go around when it does a redirect to the provider (I guess google here). The problem is

[2016-01-31 19:51] ldesplat commented on #172
BTW, the way we currently generate should be damn quite unique but it's not guaranteed. Also, the question is how do we give you access to the nonce.. I have no idea how to pass that as an API.
Which is really why I think the only way is to make the user application then generate the nonce. But, to be very frank I really don't like it. I don't want people to screw that part.

[2016-01-31 22:02] Belar commented on #176
Huh, I'm pretty sure I tried that (even the old one, authMethod), but it did it. Thank you.

PR incoming, definitely, with example.

[2016-01-31 22:02] #176 closed

[2016-02-01 04:24] nouellette commented on #177
ldesplat, thank you for responding so fast.

allowRuntimeProviderParams didn't allow me to override redirect_uri during my testing. I was able to add additional params but I wasn't able to override the required ones needed by google, I think this is due to the way the merge code for queries works.

https://github.com/hapijs/bell/blob/master/lib/oauth.js#L166

You may be right about needing the loc

[2016-02-01 16:52] nouellette commented on #177
@ldesplat I tried your example above and it did allow me not to have to do another redirect to push things forward in the workflow of oauth2 but I'm still facing this issue with the post request to google's token endpoint to get the profile. The hapi endpoint (`/auth/oauth2callback`) handler will return the request before getting the data back from Google. If there was a way to return the promise

[2016-02-01 18:30] ldesplat commented on #177
Ok, I understand `reply.continue()` is not meant to be used in an handler method. If it is used in one it just returns 200 and ok so you get to the situation where you think it returns before getting the data back but really, it did get the data but returned nothing back you.

So, I think you can solve this simply by creating your own auth scheme & strategy. Something like:
[code]
Then create your

[2016-02-02 17:35] nouellette commented on #177
I think I found a better solution that didn't require a lot of changing around the code.

Essentially what I do was kept the call to:
`server.plugins.bell.oauth.v2(strategy)(request, reply);`
the only difference is I added a callback to it to look like this:
[code]

So I had to include that `profileDataCallback` here:
https://github.com/hapijs/bell/blob/master/lib/oauth.js#L23

Then I changed the

[2016-02-03 16:14] hazkiel commented on #172
Actually, I added some logic to store a cookie with the userId when the first request comes in and I'm reading that back when the user is redirected back from Github so it's working out fine.
I basically copied your logic for the 'bell-provider' cookie that stores the state, figured out I might do the same as well since we can't avoid that cookie either.
I think that we can close this ticket if yo

[2016-02-03 16:50] #172 closed

[2016-02-03 16:54] ldesplat commented on #177
Yeah, there's multiple ways of doing this with a bell code change. Let me think about it for a little while and see. We already have so many options, it's getting hard to use bell beyond the provided providers.

[2016-02-03 16:57] ldesplat commented on #177
Also, just want to put this on the record. I don't think there's any security implications here. There's been exploits dealing with the redirect_uri but as I understand it, it's because the providers were not verifying them.

[2016-02-03 16:59] ldesplat commented on #149
closing the issue due to inactivity.

[2016-02-03 16:59] #149 closed

[2016-02-03 16:59] ldesplat commented on #145
Closing due to inactivity.

[2016-02-03 16:59] #145 closed

[2016-02-03 17:00] #134 closed

[2016-02-04 10:58] MarceloEmmerich opened #180 "custom provider"
Hi Guys, how can I add a custom provider at runtime? I would like to use our own OAuth2 server.

[2016-02-04 15:52] ldesplat commented on #180
Do you really need to add it at runtime?

All the documentation is here: https://github.com/hapijs/bell/blob/master/API.md
And just take a look at existing implementation in lib/providers

Maybe you can explain why you want custom providers at runtime?

[2016-02-04 18:12] MarceloEmmerich commented on #180
well, maybe it is possible differently, what I need is to use our custom OAuth2 server. So how can I pass it's specific endpoints to bell?

[2016-02-04 21:54] ldesplat commented on #180
You create your own provider. You have the API docs that tell you how to do that along with lots of examples in `lib/providers`

[2016-02-04 21:54] #180 closed

[2016-02-07 18:32] ldesplat opened #184 "Simplify redirect_uri / location / protocol"
Proposal:
- Remove forceHttps option
- only `location` is now accepted to change the `redirect_uri`.

This simplifies the code greatly. Removes all guesses about protocol and lots of if checks.
- `location` can also be a function `function (request: Request) -> location: String`
  Allows people to specify a custom dynamic location string. The function will be called twice during an OAuth step. The

[2016-02-07 19:16] nouellette commented on #184
If you could allow the plugin to accept a request.query.location to update that property similar this this check https://github.com/hapijs/bell/blob/master/lib/oauth.js#L161 but after it does the check it would call the update location function synchronously. That would work for my use case.

Thanks for looking into this further :)

[2016-02-07 22:25] klaronix commented on #184
Unfortunately this won't work for my case: I would like to provide a constant `redirect_uri` (of course, dynamic is even better) to a central "helper" server. Scenario is like this:

1. Bell protected hapi application server on "a.com" receives authorization request
2. "a.com" has a Bell location setting which sets `redirect_uri` to an endpoints on another server at "b.com"
3. "b.com" server deter

[2016-02-10 02:39] lefos987 opened #186 "Authenticating an API endpoint with Twitter does not redirect to Twitter Auth page"
Hi there,
I am trying to force a user to authenticate using Twitter when they send a POST request to a specific endpoint in my hapi server. I want them to access the home page without authentication and when they click a button that will send a POST request to an endpoint, then authenticate via Twitter.
I have set up an endpoint that looks like this:
[code]
The `session` strategy looks like:
[code

[2016-02-10 06:58] mtharrison commented on #186
The AJAX request _is_ being redirected but this won't change the current location of the user's browser, just the response to **that AJAX request**. You're probably better off having the button submit a form so a browser navigation actually occurs, or just a simple link to the GET endpoint if no data needs to be posted.

[2016-02-14 17:28] ldesplat opened #187 "peerDependency on Hapi 13"
Breaking change:
- Cookie Password must be 32 characters or more.

[2016-02-14 17:59] ldesplat commented on #163
Fixed in 705303f

[2016-02-14 17:59] #163 closed

[2016-02-14 18:13] ldesplat commented on #187
d3f44a1

[2016-02-14 18:13] #187 closed

[2016-02-27 18:40] ldesplat commented on #184
Bumping this to 8.0.0. If anybody wants to implement it or a version of it, they are free to do so. I am not going to.

[2016-02-27 18:42] ldesplat commented on #186
Closing due to inactivity. If this has not been answered feel free to continue and we can re-open it.

[2016-02-27 18:42] #186 closed

[2016-02-27 18:42] #177 closed

[2016-02-27 18:53] ldesplat opened #189 "Bell 7 release notes"
The breaking changes are minimal.

## Breaking Change:
Hapi 13 peer dependency
The cookie password `password` must be 32 characters or greater.
See https://github.com/hapijs/hapi/issues/3040 for more details

## New Features:
Auth0 provider
Allow passing additional state: https://github.com/hapijs/bell/pull/182

[2016-02-27 18:53] #189 closed

[2016-03-02 11:49] 45kb opened #190 "Security on redirect backend urls"
Hi, thanks for this awesome plugin, it works perfectly :+1:

I just would like to ask you one thing that i do not quite understand.

I setted up the oauth backend urls for example `auth/facebook` where (after authorizing the app and got redirected) all the user infos are returned (the user profile).

Now, what i am wondering, is there any way that a malicious user/person could hack these urls like

[2016-03-03 17:59] thebillkidy opened #191 "Can not login with Facebook on Safari"
Hi,

So when logging in with Facebook on safari I get the error message as stated below, now when I try this in other browsers it works:

[code]

[2016-03-03 18:24] thebillkidy commented on #191
After upgrading the libraries I got this error:

[code]

[2016-03-03 18:32] thebillkidy commented on #191
After updating to the latest libraries and setting the correct cookie password length it still gives the same error:

[code]

[2016-03-03 18:34] thebillkidy commented on #191
P.S. this is my configuration:

[code]

[2016-03-03 18:49] thebillkidy commented on #191
I got a bit further, so when I add the mode: 'try' option, and of course reply if we are not authenticated then it shows this in the url bar:

[code]

[2016-03-03 20:44] itzatul opened #192 "Bell is not installing with hapi12.xx.xx or higher version"
npm WARN peerDependencies The peer dependency hapi@13.x.x included from bell will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDependencies in npm 3+. Your application will need to depend on it explicitly.
npm ERR! Darwin 14.5.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "bell"
npm ERR! node v4.3.0
npm ERR! npm  v

[2016-03-03 20:51] devinivy commented on #192
Bell v7 supports just hapi v13 as a peer.  See the release notes here: https://github.com/hapijs/bell/issues/189.  I'd suggest upgrading hapi or downgrading bell.

[2016-03-03 21:01] itzatul commented on #192
Hapi 13v its working fine, Thanks

[2016-03-03 21:01] #192 closed

[2016-03-04 01:12] hueniverse opened #193 "client.resource() raw payload"
Technically, the `internals.parse()` method in oauth.js is broken because it assumes JSON payload always starts with a `{` character. This is needed to hack around broken OAuth implementations that return the wrong payloads with or without proper content-encoding headers. But it will break some APIs. This fix allows turning off the parser. A better solution would be to make `internal.parse()` bett

[2016-03-04 01:16] #193 closed

[2016-03-04 02:26] ldesplat commented on #190
4 things:
1. If your provider is on SSL which it has to be, and assuming NodeJS actually verifies the certificate chain, and you trust the root certificates that your O.S. has built in then you can be sure you're talking to a Facebook server and you don't have a man in the middle sending you bad data.
2. You also trust the DNS name resolution
3. https://github.com/hapijs/bell/blob/master/lib/provi

[2016-03-04 02:48] ldesplat opened #195 "Document OAuth1 API for creating custom providers"

[2016-03-04 14:07] thebillkidy commented on #191
@ldesplat could you maybe help with this? Seeing that this issue is currently blocking my production environment and I got a deadline coming up monday.

[2016-03-04 17:49] ldesplat commented on #191
Alright, looks like I can recreate the issue in Safari. Looks like it worked in Chrome & Firefox. Gotta figure out what changed in Safari and why it does not like our cookie to keep it around.

[2016-03-04 17:51] ldesplat commented on #191
I am using Safari v9.0.3, wonder if it worked on previous versions 8?

[2016-03-04 17:52] thebillkidy commented on #191
I will ask someone who still got an older safari to try and login using facebook, I'll let you know asap

[2016-03-04 18:25] ldesplat commented on #191
I've downgraded to Bell v6.3.0 and see the same issue. What's funny is that if it fails the first time, then re-enter the url and it will work.... :(
ie.
http://yoururl/login -> missing facebook request token cookie
http://yoururl/login -> works

seems to especially break when you have to explicitly login rather than being automatically redirected (when you are already logged in through facebook).

[2016-03-04 18:29] thebillkidy commented on #191
Indeed, I have noticed that too. But it is kinda critical since a new user will encounter it. Could it have anything to do with Facebook? Since every time I try to login with fb it first shows a warning: Cookies not enabled, so I try again and get logged in on their site. Then I get the error of token not found in the backend.

Now maybe it has something to do with a failover storage of Facebook l

[2016-03-04 18:51] thebillkidy commented on #191
P.S. Just got word that it is not working on safari 5.1 either the first time, after that it works

[2016-03-04 18:55] ldesplat commented on #191
Just when I disabled my developer accounts with Google. Gotta check if it happens with another provider...

[2016-03-04 19:49] ldesplat commented on #191
I cannot recreate anymore, no matter how many times I clear all my cookies and storage. Did it get fixed?

[2016-03-04 19:52] thebillkidy commented on #191
It is not fixed yet, I can still replicate it (I do use incognito mode however every time I test it), since cookies do not always clear correctly + I think 302 redirects get cached

[2016-03-08 10:05] thebillkidy commented on #191
@ldesplat Any progress? Since I still couldn't find any solution for this :/ and I really need it working. @hueniverse do you have an idea what the cause of this problem could be?

[2016-03-08 17:41] hueniverse commented on #191
No idea.

[2016-03-08 17:59] tkh44 commented on #191
Safari has very strict content security policies so depending on how you are doing your redirect it will not submit the cookies.  There are a couple of workarounds, the simplest of which is described here https://github.com/zotonic/zotonic/issues/902#issuecomment-77099448.

[2016-03-08 23:13] ldesplat commented on #191
Thank you @tkh44 That makes a lot of sense. I'll probably look this over the weekend. If you need this earlier, I'll gladly accept a PR.

[2016-03-08 23:16] ldesplat commented on #190
We also as part of the oauth2 spec verify the state specified is the same as the one we set in the cookie during the process of getting a token as you're supposed to from the spec (spec mentions using localStorage potentially but most implementations use secure/httpOnly cookies). It is protected on top of that by us encrypting & signing that cookie so we know we set it and somebody did not fully h

[2016-03-08 23:16] #190 closed

[2016-03-09 07:39] 45kb commented on #190
@ldesplat Thank you a lot, looks everything clear atm, i will make more tests then i'll let you know if anything i did not understand :)

[2016-03-10 04:16] mrsollis opened #197 "forcedotcom oauth2 strategy"
Hello bell / hapi developers... thank you for your work here... this is not an issue, but was hoping to grab your attention for a little help.  I'm trying to complete a forcedotcom strategy (salesforce) for oauth, and it is nearly working, and I can't find any documentation for the error.

I get an error "[Error: Failed obtaining custom access token]"

My app properly redirects to salesforce, prom

[2016-03-10 11:17] declandewet commented on #191
Could this perhaps be related to the `origin` header issue with Safari? ref: http://craigbeck.io/blog/2015/10/27/safari-plus-hapi-dot-js-plus-cors-equals-404/

[2016-03-11 13:19] ldesplat commented on #197
What is the full error?

If you can't get access to it in your handler you can add some code to print err and tokenRes here: https://github.com/hapijs/bell/blob/master/lib/oauth.js#L244 which is where the error is originating from.

This is usually related to these types of issues:
- useParamsAuth: true/false (in query parameters or in Authorization header)
- The redirect_uri is not properly confi

[2016-03-11 15:19] mrsollis commented on #197
thank you @ldesplat .

Here is some more output... when " auth mode = try" when I console.log request.auth, the output looks like this:

[code]

When I put a console.warn in the location you suggested, I get "null" for err, and I get this for tokenRes (i removed a few of the codes and put replacements in) - I'm honestly not sure what to look for here, but one thing I notice is the cookies, header

[2016-03-11 15:29] ldesplat commented on #197
You received a 400 - Bad Request from Salesforce. I am 99% positive you just need to set `useParamsAuth` to `true`

[2016-03-11 15:46] mrsollis commented on #197
Still 400. :(

I did however, find this stack exchange post that may be helpful, if this were the problem with my situation, where would I decode the code before bell sends code to the token url?

http://salesforce.stackexchange.com/questions/43878/400-bad-request-in-response

[code]
    Debug: auth, unauthenticated, error, forcedotcom
        Error: Failed obtaining custom access token
        at

[2016-03-11 17:08] mrsollis commented on #197
@ldesplat I have it mostly figured out.

I had configured my route (in this case the path "/") to require oauth, so it would redirect to salesforce...  the redirect URI passed to SFDC takes "location" if configured, and appends "request.path", my guess is the assumption there is that the redirect would be to the same place the request originates.

So my "redirect uri" ended up being https://domain

[2016-03-11 17:10] mrsollis commented on #197
What I wanted to happen, was when it was noticed there was no one authenticated, to always kick them to OAUTH2 Login with SFDC, (SFDC would then send them everytime to /auth/forcedotcom/callback) and authenticate them and proceed to whatever url was requested.  I'll have to create a slightly different flow I assume.  thanks again.

[2016-03-11 17:10] #197 closed

[2016-03-11 17:11] thebillkidy commented on #191
I Tried adding the Origin header but that didn't fix it :/ Also don't got the time right now to look into it deeper since I got a deadline coming up. If I have the time I'll look into it.

[2016-03-25 19:13] mutaphore opened #200 "Support for Slack Oauth team domain?"
Is there a way to specify what team the Slack Oauth flow brings to?

[2016-03-25 19:32] ldesplat commented on #200
@declandewet contributed the plugin, maybe they can answer?

[2016-03-25 20:10] declandewet commented on #200
Yep, just use `providerParams` to pass that info to Slack directly:

[code]

You can find your team ID here: https://api.slack.com/methods/auth.test/test

[2016-03-25 20:26] mutaphore commented on #200
Thanks for the fast response!

[2016-03-25 20:26] #200 closed

[2016-03-30 18:18] thebillkidy commented on #191
Any update? @ldesplat

[2016-04-06 18:39] Gouthamve commented on #191
Hmm, this is a serious issue hurting us pretty bad. We are not able to add Fb login feature from several weeks only due to this issue. Could you please look into this?

[2016-04-06 20:49] ldesplat commented on #191
I am swamped at the moment, but I will be very happy to accept a PR from anybody in the community. The solution has been laid out earlier in the conversation. I'll get to it as I can for now but I will be very happy to make a new release with a contribution.

[2016-04-10 03:49] ldesplat commented on #191
@thebillkidy @Gouthamve I've tried recreating it, and this time I really cannot anymore. I cleared all cookies, restarted browser, even using private sessions. I really am unable to re-create it.

If you are, then I suggest you try the following bug fix:
In this file in that block: https://github.com/hapijs/bell/blob/master/lib/oauth.js#L201
1. reply with a html file that does a meta refresh https

[2016-04-11 21:45] pankajpatel opened #203 "wordpress provider"
Hello,

I needed the wordpress provider for my project, so I have created one at [https://github.com/pankajpatel/bell](https://github.com/pankajpatel/bell).

Can anyone please review it.

[2016-04-11 21:47] ldesplat commented on #203
Looks good to me at first glance. Feel free to submit the PR :)
Thank you!

[2016-04-11 21:48] pankajpatel commented on #203
Do I need to add the documentation bit for this provider?

[2016-04-16 15:21] ldesplat commented on #203
Closed by #204

[2016-04-16 15:21] #203 closed

[2016-04-17 21:36] ldesplat commented on #191
Can you confirm you cannot reproduce as well? I've tried again today and could not. If you are able to reproduce please contribute back a fix. Nothing I can do otherwise. I've described a potential solution so feel free to attempt and ask questions.

[2016-04-18 13:15] thebillkidy commented on #191
Hi,

Sorry for the late response. This bug is still there and I am still unable to fix it. It happens in very rare cases and replicating it consistently is hard. Around 5% of the testers that I used (different people) still had this problem.

[2016-04-18 14:00] thebillkidy commented on #191
Error:
[code]

[2016-04-18 14:23] thebillkidy commented on #191
Ok current update, with this code it works in Safari and the problem can not be reproduced anymore. I will make a PR as soon as it has been tested for a bit.

[code]

[2016-04-22 02:01] ms88privat commented on #111
@KeKs0r thanks for your input. I'm new to hapijs and had the same question. Meanwhile I found this new package: https://github.com/yoitsro/hapi-access-token . Maybe we could all collaborate 👍

[2016-04-26 18:20] jabaren opened #209 "login two times in the same browser in diferents tabs"
Hi

I have a problem doing a login two times in diferents tabs (in the same browser, chrome) with the same credentials. The first login works, but the second sends me an error:

Debug: auth, unauthenticated, error, oauth
    Error: Missing custom request token cookie
    at Object.authenticate (xxx-xxx/node_modules/bell/lib/oauth.js:201:31)

on the line 163 of oauth.js
[code]
I already have the co

[2016-04-30 23:28] #191 closed

[2016-04-30 23:39] ldesplat commented on #209
Hi, I don't fully understand the problem you are having.

You are saying you have one bell page and two tabs in the same browser. You login on one tab and it works but when you login on the 2nd then it stops working? Correct? That would indeed seem to be a bug but that seems to work for me.

Why do you say

And how does keycloak play into this?

I guess do you have a way to re-create this issue th

[2016-04-30 23:40] ldesplat commented on #191
Your fix is now in 7.6.1 with some modifications. Let me know if this does it. Thank you very much.

[2016-05-02 08:41] thebillkidy commented on #191
Ok, so we tested it again on all major browsers, different operating system. The bug can not be reproduced now on where it appeared earlier, we however had some problems on a Windows Surface tablet, but this might be due to my implementation on the client side.

[2016-05-02 16:33] ldesplat commented on #191
Thank you for all that effort!

[2016-05-05 13:12] tameraydin opened #211 "Twitter: another method call instead of "users/show" / configuration"
Hi, the application I am working on tries to setup an account through the e-mail I get via social auth.

Currently, Twitter provider makes a call ``https://api.twitter.com/1.1/users/show.json`` and this method provides some user information but not the email. Instead I would prefer to call ``account/verify_credentials`` where I can get the infromation I need.

I took a look also to other providers

[2016-05-06 21:44] panKt opened #212 "Logout from any of OAuth?"
Let's say user logged into my system using bell+twitter. Is it possible to say bell to log out a a person from system without logging out from twitter?

[2016-05-15 08:46] hueniverse opened #215 "Fails to always return the node req object from wreck"

[2016-05-15 23:49] ldesplat commented on #212
Bell just allows you to grab a token and some information from the providers. The way you implement session management is up to you. You should look into hapi-auth-cookie or a similar plugin that handles this for you.

So, you can use Bell in such a way that the 3rd party provider tells you, yes this specific user is authorized to access out service and here's a token to interact with our service

[2016-05-15 23:49] #212 closed

[2016-05-16 00:02] #215 closed

[2016-05-16 00:04] ldesplat opened #217 "Implement in oauth v2 and add tests for #216 use case"
#216

[2016-05-16 00:06] ldesplat opened #218 "Allow passing custom wreck options"
- trace headers (ie. a correlation header)
- timeout options
- anything else?

Somewhat of a bug, as not being able to specify timeout seems to be wrong...

Maybe allow users to pass in a wreck instance directly? Either way, will need to be able to be set per request.

[2016-05-16 00:09] ldesplat commented on #211
If you think it should be part of the default provider go ahead and change it.

For providing configuration to change an existing provider, that does not sound too bad but then just taking an existing provider and customizing it exactly for your needs on a project is not an obscene thought either.

Either way, contributions are definitely welcome :)

[2016-05-16 00:10] ldesplat commented on #209
Closing this issue due to inactivity but if you want to follow up, feel free to do so and we can reopen it.

[2016-05-16 00:10] #209 closed

[2016-05-16 00:17] ldesplat opened #219 "Allow different callback path when finished with the oauth flow"
Some users want to handle the last part of the oauth flow at a different url. Right now, if a user starts at /login they will always be redirected back to /login.

[2016-05-18 21:04] jskang opened #220 "Bitbucket authentication does not work"
Hi

I've been trying to use Bell for Bitbucket authentication but cannot get it to work. For bitbucket I continuously get Internal 500 error. I have tried it with the examples that was provided http://mph-web.de/social-signup-with-twitter-using-hapi-js/. I confirmed that it works for twitter and github but not bitbucket.

Thanks,

[2016-05-20 16:22] tameraydin commented on #211
Hi @ldesplat, I created a PR ( #221 ).. Let me know if you have any remarks.

[2016-05-23 22:38] ldesplat commented on #220
If you can figure out why it's not good. Please submit a PR. Maybe your configuration was wrong?

[2016-05-25 22:15] hueniverse opened #223 "OAuth 1.0 missing HTML redirection workaround"

[2016-05-26 01:03] #223 closed

[2016-05-26 01:09] ldesplat commented on #223
You fix is now published in 7.7.2 . Skipped my mind when the time came to apply to oauth 1!

[2016-05-26 03:32] hueniverse commented on #223
Thanks!

[2016-05-31 17:40] Belar commented on #220
Just tested BitBucket authentication, no problems. If you could show us your config or error details from debug, it would be easier to help.

[2016-06-02 05:40] #211 closed

[2016-06-02 09:08] PaulMougel opened #226 "OAuth v1: How to handle RSA-SHA1 signing?"
Hi!
I'm trying to implement JIRA authentication through bell. [JIRA](https://developer.atlassian.com/jiradev/jira-apis/jira-rest-apis/jira-rest-api-tutorials/jira-rest-api-example-oauth-authentication) uses RSA-SHA1 to create signatures. Unfortunately, it looks like bell uses HMAC-SHA1 [every single time](https://github.com/hapijs/bell/blob/master/lib/oauth.js#L457-L510), without letting us change

[2016-06-02 14:42] ldesplat commented on #226
Yes, that is correct. HMAC-SHA1 is hardcoded and I see in the oauth1.0a spec that RSA-SHA1 is also supported https://tools.ietf.org/html/rfc5849#section-3.4.3

So based on that, I think we could definitely add support. Feel free to contribute a PR. BTW, we do not use `node-oauth`.

This should be a provider option that that defaults to HMAC-SHA1 and also allows RSA-SHA1 only. By searching the HMAC

[2016-06-02 17:02] PaulMougel commented on #226
Thanks for the pointers, I'll begin working on a PR then

[2016-06-02 18:58] jskang commented on #220
I finally got it to work. For some reason error message didn't show up. After digging in, I found out that it was doing the oauth properly but was not able to get the user information. So I started looking at my settings and it turns out that by default bitbucket does not share read and write on user credentials. I check off email and read access and it started working. Thanks!

[2016-06-02 18:58] #220 closed

[2016-06-04 01:31] wwalser opened #228 "Remove dependency on Google Plus APIs"
I was poking around to find out of there is a way to remove the dependency on Google Plus APIs now that Google is splitting Plus out of it's products. Reading Google's latest Identity Platform documentation, it seems that most endpoints are no longer associated with Google Plus at all.

https://developers.google.com/identity/protocols/OAuth2WebServer#callinganapi

While you can use a Google Identi

[2016-06-10 16:13] ldesplat opened #230 "Only publish root and lib directory in npm"
https://github.com/hapijs/contrib/issues/90

[2016-06-13 13:26] #226 closed

[2016-06-13 13:35] #230 closed

[2016-06-13 15:49] ldesplat opened #232 "Update dependencies"
Wreck 7 -> Wreck 8

devDependencies: Hawk 4 -> Hawk 5

Bell is not using any of the features that led to those breaking changes.

[2016-06-13 15:52] #232 closed

[2016-06-16 15:28] gerenrot commented on #30
Having the same issue.
I think server.auth.test() should do the trick.

[2016-06-22 22:56] hueniverse commented on #18
Same to assume this is not going to happen.

[2016-06-22 22:56] #18 closed

[2016-06-22 22:57] hueniverse commented on #22
Closing due to inactivity.

[2016-06-22 22:57] #22 closed

[2016-06-22 22:57] hueniverse commented on #55
Closing due to inactivity.

[2016-06-22 22:57] #55 closed

[2016-06-22 22:58] hueniverse commented on #164
Closing due to inactivity.

[2016-06-22 22:58] #164 closed

[2016-06-22 22:58] hueniverse commented on #86
Closing due to inactivity.

[2016-06-22 22:58] #86 closed

[2016-06-22 23:35] hueniverse opened #237 "Profiles are broken when used directly"

[2016-06-22 23:35] #237 closed

[2016-06-29 18:34] damusix commented on #161
Just went through the same chain of errors LOL! Thank you tanepiper!

[2016-06-30 12:12] lfsmoura opened #238 "Error configuring google login"
I recently updated hapi and bell and I'm having an error when I use this:

        server.auth.strategy('google', 'bell', {
            provider: 'google',
            location: server.info.uri,
            password: config.COOKIE_PASSWORD,
            clientId: config.GOOGLE_CLIENT_ID,
            clientSecret: config.GOOGLE_CLIENT_SECRET,
            // required if not using HTTPS especially if

[2016-06-30 12:25] Marsup commented on #238
Something is probably messing with the globals. Edit hoek and try to `console.log(Map.toString())` see if it's a native.

[2016-06-30 12:41] #238 closed

[2016-06-30 12:41] lfsmoura commented on #238
I'm really sorry it was a problem with my code. Thank you so much!

[2016-07-03 04:42] aliismael commented on #164
I just pushed the first version of the hapi-openid-connect plugin (version 1.0.x).  This version is a complete implementation of the authorization_code, password, and refresh_token grant_type.  Also, this version has a sample application which uses mongodb for persistence, but I still need to include documentation for it.

I will update the documentation in the next couple of days, but feel free t

[2016-07-15 15:46] klaronix opened #241 "Use API V2 for Dropbox provider"
API V1 is now deprecated [https://blogs.dropbox.com/developers/2016/06/api-v1-deprecated/](https://blogs.dropbox.com/developers/2016/06/api-v1-deprecated/). V2 uses new urls (simple) but needs POST request for getting user info [https://www.dropbox.com/developers/documentation/http/documentation#users-get_account](https://www.dropbox.com/developers/documentation/http/documentation#users-get_accoun

[2016-07-16 10:24] ldesplat commented on #241
We would gladly accept a PR!

There are a lot of providers, so we depend on the community at large to keep them updated.

[2016-07-16 10:29] ldesplat opened #242 "Upgrade Joi dependence to 9.x.x"

[2016-07-16 10:30] #242 closed

[2016-07-17 20:20] ldesplat opened #243 "Bell 8.0.0 Release Notes"
## Breaking Change

If you use the Google provider, **it will not use Google+** to fetch user details anymore. If you want that functionality, then you muse use the `googleplus` which is the exact replica of the old google provider.

If you decide to continue using the `google` provider, do note that the profile response will look different and you must accommodate that change in your application.

[2016-07-17 20:22] #243 closed

[2016-07-17 20:23] #228 closed

[2016-07-21 12:01] DamodarSojka commented on #171
I am having same problem. Would it be possible to specify what 'UI library' means? Thanks in advance.

[2016-07-21 12:32] DamodarSojka opened #245 "How to integrate with the frontend?"
I am having hard time understand how bell authentication flow should work with the frontend, I am using angular but this is not an angular specific question.

Should call to the bell endpoint be made from the new tab
`$window.open(API_URL + "/linkedin/auth")`
which allows backend to retrieve data from the provider but then the tab that the user initiated 3rd party login from is still at the login

[2016-07-23 12:35] dltmd6262 commented on #219
Is this still a valid feature request? I'm a new contributor and I would love to give a shot on it :]

[2016-07-25 23:09] bbatliner opened #246 "Changelog for major versions"
Bell has been super active lately, it seems like, and I can't keep up with the breaking changes. Is there a version history or changelog?

[2016-07-26 05:42] ldesplat commented on #246
You can see the Milestones for what changed: https://github.com/hapijs/bell/milestones?state=closed
We also have release notes for every major version to denote what broke and that can be seen here: https://github.com/hapijs/bell/issues?q=label%3A%22release+notes%22+is%3Aclosed

This is true across all the hapijs projects.

[2016-07-26 05:42] #246 closed

[2016-07-26 05:43] ldesplat commented on #219
@dltmd6262 Yes, it very much is a valid feature request. If you are still interested, feel free to ask questions or e-mail me directly if you don't feel comfortable.

I apologize for the late response and really hope that enthusiasm is still available :)

[2016-07-26 06:48] dltmd6262 commented on #219
Yup still here :] Please do give me some time to look over the code and I'll ask questions soon!

[2016-07-27 02:00] dltmd6262 commented on #219
Ok. So I read through the code and I think I have a question.
My first guess was that instead of reply.continue at the end of [v1](https://github.com/hapijs/bell/blob/687d49574b97ceb6628026780c3e9feca4168428/lib/oauth.js#L134) and [v2](https://github.com/hapijs/bell/blob/687d49574b97ceb6628026780c3e9feca4168428/lib/oauth.js#L305) I need to call reply.redirect with a uri.

But I'm not sure how I ca

[2016-07-29 20:23] hueniverse opened #247 "Allow hapi 14"

[2016-07-29 20:24] #247 closed

[2016-08-11 12:30] AdriVanHoudt opened #251 "Google user info"
Recently the google provider changed to use the oauth user info instead of google plus user info.
But as far as I can tell from https://developers.google.com/identity/protocols/OpenIDConnect#obtainuserinfo the id is now mapped to the `sub` property but it was not changed in the PR see https://github.com/hapijs/bell/commit/19e37eb5ba9ed50d359453b8910420f708b62459#diff-6cf5a5271f13794eed67d28ec16ffa

[2016-08-17 20:22] AdriVanHoudt commented on #251
@ldesplat any comment on this?

[2016-08-20 21:24] ldesplat commented on #251
I am running out of time to test this today, but yes i want a PR. Also, since this seems like a pretty bad bug if any Hapi contributor wants to merge this and make a patch release I would appreciate this. I'll be without access for 8 days.

Also, looks like the givenName and familyName is not applicable anymore. I really have to finish up my test repository for doing actual tests of each provider

[2016-08-20 21:33] ldesplat opened #253 "New Lead Maintainer"
Hi,

If anybody wants to become the new lead maintainer of this project, please let me know. The only requirements needed is to have read some of the oauth1 and oauth2 specs as well as a history of contributions (answering people's questions and/or code and or documentation) with which you can start now. See the list of issues, with the enhancement, documentation and bug labels. Also, really appre

[2016-08-21 10:19] AdriVanHoudt commented on #251
@ldesplat PR is there!
The obvious downside to mocking certain calls is that if the provider changes it format the tests will never catch this, not sure how to solve this though.

[2016-08-21 12:31] #251 closed

[2016-08-22 14:08] parkerproject opened #255 "Exchanging Request Token and OAuth Verifier for Access Token"
How do you exchange the Request Token and OAuth Verifier that is returned in the redirect URL for an Access Token, similar to how it is done here https://developer.yahoo.com/oauth/guide/oauth-accesstoken.html

[2016-08-23 15:40] parkerproject commented on #255
my bad, you can get this values from "request.auth.credentials"

[2016-08-23 15:40] #255 closed

[2016-09-02 04:20] hbarve1 opened #257 "how to handle error when facebook user refuses to give authorization, please guide."

[2016-09-02 15:35] ldesplat commented on #257
I think that's a very worthwhile endeavor to show a bit more of the real-life usage.

[2016-09-07 06:02] parimal-padture opened #258 "Failed obtaining access token"
I have configured strategy as follows , request for authorization code gets completed , but when post request for access token gets fired it returns "Failed obtaining access token ", i have also tried to run request from postman and it returns me the access token , i don't know what i am missing in strategy configuration. i have also tried using bell-oidc but no luck, it will be great if i can get

[2016-09-07 14:35] ldesplat opened #259 "Support Hapi 15 & upgrade boom + wreck dependencies"
See https://github.com/hapijs/bell/commit/9e653d759e1ae6f25be3154f838066dc32752580

[2016-09-07 14:35] #259 closed

[2016-09-07 14:50] ldesplat commented on #258
You should check out https://github.com/hapijs/bell/pull/185

I never merged that PR though I think it was quite worthwile, I wanted some sort of way to more completely support it, but this should help you get it working if I am correct that azuread is really microsoftonline.com

[2016-09-07 14:52] ldesplat commented on #253
I have not really seen anybody ask for it.. so I'll close it for now. Figured out some personal things that allows me to prioritize this a bit more :) If anybody is interested, do let me know!

[2016-09-07 14:52] #253 closed

[2016-09-08 02:53] rokoroku opened #260 "How to request more permission, or denied permission again?"
Is it possible to request more permissions or denied permissions using same strategy?

[2016-09-08 22:54] wennergr opened #261 "Support for reading id_token from an OpenId Connect flow"
Hey.

[OpenId Connect](http://openid.net/connect/) starts out as an oAuth2 flow and bell can therefor be reused for the initial phase. (authentication code flow)

One difference is that OpenID connect can exposes two tokens, one access token but also an id token. It would be fantastic if there was a way to read this id token.

I'm not suggesting to add full OpenID Connect support but I would be ab

[2016-09-08 23:24] ldesplat commented on #261
That sounds fair to me. It could be exposed here https://github.com/hapijs/bell/blob/master/lib/oauth.js#L103 such that you can access it using `request.auth.credentials` and continue on with the flow. Are you sure this will work though? I have been out of that world for more than a year and I don't fully remember but OpenID Connect implementations tend to be picky.

[2016-09-08 23:38] wennergr commented on #261
Tested it with our OIDC provider with the following change on `https://github.com/hapijs/bell/blob/master/lib/oauth.js#L103`

[code]

[2016-09-08 23:40] wennergr commented on #261
Tested it with our OIDC provider and the following change:

[code]

And it worked.

[2016-09-08 23:57] wennergr commented on #261
I will put together a PR.

[2016-09-12 22:10] ThiagoMiranda opened #262 "Github login failling silently"
Hello

I´m trying to reproduce this [tutorial](https://www.sitepoint.com/oauth-integration-using-hapi/) but it´s giving me a Internal Server error ( response 500 ) without any details in my console.

This happens when github redirects to my login page using these parameters:
https://github.com/login/oauth/authorize?client_id=xxxxx&redirect_uri=http%3A%2F%2Flocalhost%3A9000%2Fauth%2Fgithubauth&scop

[2016-09-12 22:32] ThiagoMiranda commented on #262
Update:

Changed the auth options to:
`				auth: {
                	strategy: 'github-oauth',
               	 	mode: 'try'
            	}`

Now it´s redirecting correctly but it´s giving me an error:

[code]

[2016-09-13 03:34] ThiagoMiranda commented on #262
I've misunderstood the whole thing. Now it's working.
Sorry about the issue and thanks for the module!

[2016-09-13 03:34] #262 closed

[2016-09-14 19:24] visualjeff opened #263 "In the use case where an error is returned. Who is setting the value of error?"
Its not so much an issue but clarity on documentation.  I'm receiving an unauthorized 401 error message when using the code below.

Where is **auth.error.message** coming from?   Is it being returned from AzureAD?  Azure is my provider.

[code]

[2016-09-14 19:55] visualjeff commented on #263
It looks as if my app is returning the 401 because the something is failing on the second leg of the open id dance with AzureAD

[2016-09-15 15:33] ldesplat commented on #260
Better late than never, you can define the scope dynamically using https://github.com/hapijs/bell/blob/master/API.md#customized-scope-and-params

[2016-09-15 15:33] #260 closed

[2016-09-15 15:34] ldesplat commented on #258
Closing issue, but feel free to re-open if you want to give more details.

[2016-09-15 15:34] #258 closed

[2016-09-15 15:36] ldesplat commented on #257
We have a section of the documentation that talks a bit about it: https://github.com/hapijs/bell/blob/master/API.md#handling-errors

Unfortunately, it will be different for different providers. I am working on some enhancements that will demonstrate this exact thing and more with a subset of the supported providers.

Until then, if somebody wants to add documentation for the specific providers the

[2016-09-15 15:37] ldesplat commented on #263
Do you need any more assistance?

[2016-09-15 15:47] ldesplat opened #264 "Bell is not compatible with Hapi 15 due to same-site: strict for cookie"
Bell is currently not compatible with Hapi 15. You should stick with Hapi 14 until we set the same-site attribute for the cookie that Bell has to set to either be turned off or set to lax. I am experimenting with different providers to determine how they do the redirect back, but until then hapi 15 will not work.

[2016-09-17 00:15] ldesplat commented on #264
So the results of my investigation are as follows: I am using a Mac and do not have access to a Window machine.

If we set the state cookie to sameSite: Strict, then when we get redirected back from all the providers I've tried, the browser does not send us the cookie as expected, but then, Bell has a mechanism (originally developed for Safari) to do a refresh when that is the case of the page. So

[2016-09-19 18:01] visualjeff commented on #263
Still haven't resolved the issue.  Everything in lower environments works fine.  In production it fails on the second call back to AzureAD.   Fails with a message:   Authentication failed due to: Client request error: **unable to get local issuer certificate**

[2016-09-20 20:21] visualjeff commented on #263
Performing a fiddler trace on non prod and prod show AzureAD isn't configured correctly.  Bummer.

[2016-09-21 14:47] #264 closed

[2016-09-22 07:56] sudheesh001 opened #266 "Implement Azure Active Directory authentication for enterprise AD logins"
## Feature request
The authentication for [azure active directory](https://azure.microsoft.com/en-in/documentation/articles/active-directory-whatis/) should be fairly similar to the one in office 365 except that the modifications should be as follows.
[code]
and the example should look something like this
[code]
When I try to fix this and use it I receive an error as follows
[code]
I would love to

[2016-09-22 15:15] ldesplat commented on #266
Ok, so looks like Microsoft is trying to standardize their endpoints here with the tenant stuff. I wonder if live has switched to using this type as well. Very confusing to somebody not in their ecosystem.

I wonder why the office365 provider is using outlook.office.com for the profile information. Must have some different type of information or they must not have these new endpoints at the time.

[2016-09-23 09:48] sudheesh001 commented on #266
From a look at their documentation it looks like they're using Azure AD itself for office365 except that in place of a tenant ID it'd become `common` taking them to the public office 365.

- Documentation: https://msdn.microsoft.com/en-us/office/office365/howto/common-app-authentication-tasks

I am not really sure who I can reach out in the office 365 team but i can surely send out a mail and loop

[2016-09-28 12:56] rajeev37 opened #268 "Not getting email from twitter"
Is it possible to get email address from twitter using bell plugin?
I am using this strategy.

      `server.auth.strategy( 'twitter',  'bell',
         {   provider: "twitter",
            password: "&GGHK@$EGsed&*565^*&sdfsdfsdfsdsgfgghfghfghHJHJjgjkkj",
            clientId: "cliendID**",
            clientSecret: "secretID***",
            isSecure: false,
            scope: ['public_profile',

[2016-09-28 14:45] ldesplat commented on #268
See the twitter documentation: https://dev.twitter.com/rest/reference/get/account/verify_credentials

They have to whitelist you first.

[2016-09-28 14:45] #268 closed

[2016-09-29 18:22] visualjeff opened #269 "Azure authentication fails in prod. Azure-auth cookie not being set? Not sure why?"
I've fiddler traced Non-Prod and Prod environments.  Non-prod works fine.  Prod fails with the message being displayed in the browser:

     Authentication failed due to: Client request error:  unable to get local issuer certificate

Then Bell fails to set the azure-auth cookie.

I can't find this error message anywhere within our node.js source and all of its dependencies.

Any ideas?

[code]

[2016-09-29 18:46] visualjeff commented on #269
I think this is a Node 4.x.x issue with the certificate.  We're behind a corporate proxy.

Nodejs 4 introduces UNABLE_TO_GET_ISSUER_CERT_LOCALLY error for users behind company firewalls

[2016-09-29 18:46] #269 closed

[2016-09-29 22:45] #263 closed

[2016-10-04 14:32] #266 closed

[2016-10-04 15:42] TelmaFernandes opened #270 "Cors issue in hapi"
Hello,

I'm having the following error:

[code]

Do you know what this might be and how to solve it?
Thanks. :slightly_smiling_face:

[2016-10-06 13:15] aphuang2013 opened #271 "question: oauth2 flow"
I'm trying to understand the oauth2 v2 flow.  if the skipProfile call is set, then what is the next step?   I know the credentials get returned but the settings.provider.profile.call(settings, credentials, payload, get, () =>... requires "get" to be called, but if there is no "userinfo" uri, what will be the correct response here?

[2016-10-06 14:23] ldesplat commented on #271
Nothing gets done. You get your credentials and no other calls are made. https://github.com/hapijs/bell/blob/master/lib/oauth.js#L111

See how we `return reply.continue()` thus returning from the function and telling Hapi we're done.

[2016-10-06 14:30] ldesplat commented on #270
The problem is that you used XMLHttpRequest to point to the login flow. Try doing a simple link or changing the url of the browser instead.

If you still want to do what you're doing, you will have to react those excellent docs: https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS

They explain everything a lot better than I ever could. If you have to setup additional cors headers

[2016-10-10 23:51] garthk opened #272 "Can't reliably authenticate (Safari+Auth0)"
Seems to be #191, but I'm on bell 8.3.0 and using Safari 10.0 on macOS 10.12.

Short stack:

    161010/233309.984, [error] message: Missing auth0 request token cookie stack: Error: Missing auth0 request token cookie
        at Object.internals.refreshRedirect (/opt/anditi-roof-api/node_modules/bell/lib/oauth.js:318:27)
        at Object.authenticate (/opt/anditi-roof-api/node_modules/bell/lib/oau

[2016-10-11 01:20] garthk commented on #272
This is close to reproducing the problem with the temporary [auth0](https://auth0.com) client of your choice, but I'm getting `Missing auth0 request token cookie stack` even with `isSecure` false, and on Chrome:

[code]

Usage with `node` 6.7.0:

* `cd $(mktemp -d)`
* `npm install hapi bell`
* `node demo.js`

[2016-10-11 01:44] ldesplat commented on #272
So, I have the following example https://bell.now.sh/ working and you can see the source code https://bell.now.sh/_src/?f=index.js

So, I know it works one way. You are indeed using the latest hapi and bell and node so that should all work together. I see you are creating a https server properly.

Maybe the issue here is that the domain is not matching localhost:port . Try creating a domain of you

[2016-10-11 01:44] #271 closed

[2016-10-11 01:44] #270 closed

[2016-10-11 01:49] garthk commented on #272
Fun dead end: the example I'd been using had `ttl` set to `3600`, which they _thought_ was 1hr but resulted in `Max-Age=3` in the `set-cookie` header. Setting it to `300000` (`Max-Age=300`) got me through the login process with `isSecure: false` and `isHttpOnly: false`. `ttl: null` makes more sense; keeping it. Checking the cookie security variations now…

[2016-10-11 02:08] garthk commented on #272
Nope, it was all `ttl`: removing it entirely fixed the login problems with my original application. I can now run with `isSecure: true` and `isHttpOnly: true`. Thanks for the help, @ldesplat.

[2016-10-11 02:08] #272 closed

[2016-10-13 02:22] garthk commented on #261
I just ran into this, also. Passing `payload` back as the [optional authentication artifacts](http://hapijs.com/api#serverauthschemename-scheme) would do the trick, i.e.:

[code]

… given any but the standardised properties are provider-specific.

Hacky workaround: copy your favourite provider file; replace `provider` with a function that shoves its second argument into the `credentials` object so

[2016-10-13 03:29] garthk commented on #245
I'm using something similar to the following:

[code]

By default, all routes will require the `session` strategy. If the cookie is missing, it'll redirect to `/login`. The handler won't get called until `bell` is finished, at which time you'll set the session cookie and redirect back. Your page will then get reloaded. If you pass cookies with your back end requests, it'll all Just Work from then

[2016-10-14 15:17] TinOo512 opened #274 "add the request to the profile function"
Hi,

I have several routes which are using the same facebook strategy. I would like to personnalise the profile and the fields requested to facebook depending of the route. I'm thinking to add the request to the profile function like so :

_ROUTE:_

[code]

_PROFILE:_

[code]

Let me know what do you think ? I'll do the PR if it sound raisonnable for you :smile:

[2016-10-17 14:59] ldesplat commented on #274
So this may not cover everything but there is this already https://github.com/hapijs/bell/blob/master/API.md#customized-scope-and-params

Do you need anything more?

[2016-10-17 15:26] TinOo512 commented on #274
@ldesplat yes, basically I would like to pass a function to `profileParams`. Regarding the code I thought it would be easier to just add the `request` to this existing function.

[2016-10-20 21:11] stjohnjohnson opened #275 "Bitbucket Server"
So it looks like Stash was renamed into Bitbucket Server and only supports OAuth 1.  I'm happy to add support for it, but I'm uncertain as to where to add it.

Here are the two options I see:
Option 1 - Add params to the `bitbucket` provider to support a custom server with OAuth 1.
Option 2 - Add new provider called `bitbucket-server` with params for specifying server.

Params would be implemented

[2016-10-21 14:34] TinOo512 commented on #274
@ldesplat Do you see the use case ? Does it sound reasonable to merge if I open a PR ?

[2016-10-31 18:39] stjohnjohnson commented on #275
@ldesplat?

[2016-11-02 18:34] ericeslinger commented on #243
I just recently upgraded to bell 8 (I don't revise dependencies often, since breaking changes are never fun).

As feedback, it would have been a ton easier for me if you'd have kept the `google` provider the same, and created a new provider called `googleminus` or something. In that case, I wouldn't be getting the more slim request against google auth scopes, but I would also not be getting a diff

[2016-11-08 13:15] matthieusieben opened #276 "Scope returned by server no present in credentials"
About the scope in the token response, [RFC6749#4.2.2](https://tools.ietf.org/html/rfc6749#section-4.2.2) says the following:

         OPTIONAL, if identical to the scope requested by the client;
         otherwise, REQUIRED.  The scope of the access token as
         described by Section 3.3.

Meaning that the scope may be different than requested. It would be convenient if this value was expose

[2016-11-08 13:32] matthieusieben commented on #276
Something like adding the following in the [credentials](https://github.com/hapijs/bell/blob/6b664a86875c301fb5dcd950fe514c69308be633/lib/oauth.js#L260)

[code]

[2016-11-08 16:54] rug1 opened #277 "How to integrate passwordless auth0 with bell?"
I have setup my auth strategy as follows:
[code]
However, this only allows me to sign up/log in with only either google or email and password. I would really like to use the passwordless SMS method that auth0 provide. Is there a way I can integrate this with the bell strategy I have set up?

[2016-11-21 12:37] sigod opened #278 "Authorization with Facebook stopped working"
This is what handler receives in `request.auth`:
[code]

I'm unable to find source of the issue. I'm pretty sure it worked in the first days of August.

Tried with bell version 8.2.1 and 8.3.0. Also, tried to use different applications' credentials and different users. The same result in all cases.

Am I missing something? Or did Facebook change something?

Bell registration:
[code]

[2016-11-21 21:43] ldesplat commented on #278
There must be some problem with your code? Or with the very latest version of Hapi...
https://bell.now.sh/  seems to work. I built it just for these issues :)
https://bell.now.sh/_src if you want to see the source code.
Looks like I last deployed it 57 days ago, so whatever version of Hapi was the most recent then is what it's working on.

[2016-11-22 16:06] sigod commented on #278
I would be happy if it's just a problem with my code, but none of my code is invoked before server receives this error message.
Actually project uses Hapi v13.2.2. I tried to change it to v15.2.0 and test again. Few of dependencies haven't been met. But project seems to be working. I've got the same error message though.

"This app is still in development mode ..."

[2016-11-26 23:14] tscrip opened #279 "Strange issue with Hapi, Bell, and Node-config"
I am running into a strange error when using the node config module with bell. I am trying to pull in values from a config JSON file for server.auth.strategy. If I include them in my main file, it works correctly. If I pull them in from a JSON file, I get the error below. Anyone know why I would be getting this?

JSON segment looks like this:
[code]

Here is the code that is throwing the error:
[c

[2016-11-29 08:58] sigod commented on #278
OK, I found the root on this issue. It appears that Facebook changed requirements for applications. Now you're required to provide a set of valid OAuth redirect URLs for your application.

[2016-11-29 08:58] #278 closed

[2016-12-01 03:16] hueniverse opened #280 "hapi 16"

[2016-12-01 03:26] #280 closed

[2016-12-03 03:32] jonathansamines commented on #279
@tscrip the reason is that `node-config` attaches the "config prototype" to each object in your properties in a recursive way.  That means that each subobject retrieved from your configuration file, results with the same properties as the root object.

See: https://github.com/lorenwest/node-config/blob/master/lib/config.js#L1067

[2016-12-05 17:20] mreis92 opened #281 "Using isSecure=true in an HTTP server"
Hello! I have an HTTP server on Kubernetes, with a proxy that receives HTTPS requests and relays HTTP requests to the HTTP server.

For a while now I have been using the `isSecure=false` configuration, but Pinterest only allows for HTTPS endpoint URIs. The problem is that I cannot user `isSecure=true` configuration with an HTTP server.

Is there an alternative for having to change the configuratio

[2016-12-12 18:11] mmc41 opened #282 "Is bell for authentication only or can it be used for api consumption ?"
I am interested in using bell with hapijs to consume services from google, dropbox and the other services supported by bell. It is however unclear from the docs if bell only support authentication or if it provides the necessary tokens etc. so one can actually call into the various service API's? Could that be specified in the readme ?

[2016-12-19 12:50] cvillerm commented on #282
Tokens issued during authentication are indeed available in the `request.credentials.auth` object:
* `token`: access token
* `refreshToken`: refresh token (if any)
* `expiresIn`: validity duration of access token

As these tokens are available only in the route handler secured by Bell, they need to be saved for later use (e.g. manage a session with a session cookie).
They can later be used to acce

[2016-12-19 12:54] cvillerm commented on #281
I personally think that your description would need to be enhanced. For instance, what is the role of Pinterest in your use case? What component are you protecting with Bell?

[2016-12-19 13:05] cvillerm commented on #218
I find this to be useful too to be able to pass TLS options to wreck if the Authorization Server is requesting client certificate-based authentication for calls to its token endpoint, instead of passing credentials as client_id+ client_secret. The client certificate and key could be passed as such options.

[2016-12-22 11:00] cvillerm opened #285 "Need to allow custom Client authentication"
To allow [custom OAuth2 Client authentication](https://tools.ietf.org/html/rfc6749#section-2.3), it should be possible to pass client secrets as something else than a password. An example when using PingFederate as custom provider is the ability to use client-certificate-based authentication to authenticate the client with the token endpoint: https://documentation.pingidentity.com/pingfederate/pf8

[2016-12-22 11:08] cvillerm commented on #285
PR #286 submitted

[2017-01-03 21:08] sholladay commented on #277
I am also curious about this. My understanding is that the strategy config would be the same as usual but that we need to initiate the login flow in a different way on the client instead of relying upon `bell` to do so. I think this is because the Lock widget doesn't determine password vs passwordless at runtime (they are implemented as two different classes). Perhaps because this is considered an

[2017-01-03 21:15] sholladay commented on #281
What actually happens if you pass `isSecure : true` to `bell`? It sounds like it should work fine, because if your server is being HTTPS proxied, the browser has no idea that `hapi` is listening on insecure HTTP.

I would guess that you originally set `isSecure : false` for convenient testing on `localhost` without a trusted self-signed certificate setup.

[2017-01-03 23:28] rolodato commented on #277
This is a bit more complicated than we'd like it to be. We don't have any examples that implement passwordless authentication using a standard OAuth library, but technically I think it should be possible.

The reason why Auth0 does not display passwordless authentication as an option when redirecting to /authorize is, as @sholladay mentioned, because Lock for passwordless is [implemented as a sepa

[2017-01-04 08:55] sholladay commented on #277
Very insightful, thanks a lot!

So the summary is this generally won't work because:
 - It is a non-standard flow that is possibly out-of-scope for `bell`.
 - The default HTML imports the wrong variant of Lock for this use case (but is customizable).

Hopefully someone is able to cook up a recipe for email magic links as described above.

[2017-01-04 16:35] rug1 commented on #277
Thanks @sholladay and @rolodato! Very helpful!

[2017-01-09 19:38] captainjackrana opened #287 "Internal server error on facebook provider"
My issue is pretty similar to [https://github.com/hapijs/bell/issues/4](url), however, since there was no conclusion drawn, so posting it fresh..

After authenticating via facebook login, upon redirection back to my server, hapi throws a 500 internal server error.
The callback url is supposed to be /login/facebook
Following is the output of request.getLog()

`request=1483986677837:ip-172-31-4-122:

[2017-01-10 14:29] ahmedNY commented on #287
i had the same issue :(

[2017-01-10 22:57] garthk opened #288 "Remove or more comprehensively document provider.version"
* Defined in the API documentation as "the OAuth version"
* Appears to be redundant given `provider.protocol`
* Validated as a `joi.string()`
* Doesn't appear to be used

[2017-01-10 22:58] garthk commented on #288
(In case it helps, I'm working on TypeScript support for `bell`.)

[2017-01-16 08:11] ignivaravinderrikhi opened #290 "unable to retrieve facebook profile picture"
Hi,

I am using basic configuration as shown in examples for fetching facebook profile data using **bell** and it is working flawlessly . But I am unable to retrieve the **_profile picture_** of the user which is my major requirement. Is there any solution/work around present for this situation .

Thanks

[2017-01-23 23:15] hueniverse opened #291 "Medium provider"

[2017-01-24 02:38] #291 closed

[2017-01-26 07:09] akiellor opened #292 "Support for OIDC and discovery urls"
I'm currently using bell for integrating with OIDC providers and recently found OIDC defines a spec for `discovery_endpoints` which simplify configuration.

I'm wondering if OIDC specifics would be considered part of the scope of `bell` or does it make sense to keep those specifics in another library.

[2017-01-26 16:06] ldesplat commented on #275
@stjohnjohnson If you are still interested. You may as well create a new provider since one is connecting to the publicly accessible bitbucket over oauth2 and the other would be over oauth1

[2017-01-26 16:07] #277 closed

[2017-01-26 16:08] #279 closed

[2017-01-26 16:13] ldesplat commented on #288
Thanks, I'll take a look at depreciating this if it makes sense.

[2017-01-26 16:15] ldesplat commented on #290
See http://stackoverflow.com/questions/11748941/facebook-oauth-no-picture-with-basic-permissions for some answers. You will need to specifically ask for it in the fields. Specifically `profileParams` https://github.com/hapijs/bell/blob/master/API.md#options

[2017-01-26 16:15] #290 closed

[2017-01-26 16:18] ldesplat commented on #292
I know I have placed interest in it and so many others. I think there's even open PRs for things like that. Ideally, I'd just want to support hooks to allow another library to handle all the specifics while allowing the basic oauth2 to work seamlessly underneath.

Unless someone wants to start maintaining Bell, expanding into proper support for OpenID Connect is quite an investment.

[2017-01-26 16:18] #292 closed

[2017-01-26 16:22] ldesplat opened #293 "Document new Medium provider"
See https://github.com/hapijs/bell/commit/bd3702d2a37d7cdaf55ef0df2c838dc291d21bb2

[2017-01-28 22:02] joshuacolvin commented on #293
I'm willing to help with this.

[2017-01-29 11:25] AdriVanHoudt commented on #293
@joshuacolvin Take a look at https://github.com/hapijs/bell/blob/master/Providers.md for examples and feel free to open a PR!

[2017-01-30 06:07] captainjackrana commented on #287
Okay.. after going through previous logged issues, i can link my problem to https://github.com/hapijs/bell/issues/191
The ticket says it was fixed in 7.6.1, while i'm on bell 8.0.0
It only happens for Safari browsers.. Some of the user agent strings that encountered this problem -

- Mozilla/5.0 (iPhone; CPU iPhone OS 10_1_1 like Mac OS X) AppleWebKit/602.2.14 (KHTML, like Gecko) Version/10.0 Mobi

[2017-01-30 18:07] ldesplat commented on #287
Thank you for showing this. I don't have access to a production bell anymore so I don't get to see those issues.

Chrome 55 and Safari 10, interesting. There was this PR https://github.com/hapijs/bell/pull/265 to resolve the issue with the cookies not being sent + the PR you linked.

So since #265 is 8.5.0 I would recommend you upgrade bell?

[2017-01-31 16:04] captainjackrana commented on #287
Updated to 8.5.0 and observed for a day.. Still getting the same errors on the same set of user agent strings
AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36

[2017-02-02 00:36] joshuacolvin commented on #293
I noticed that Bell's medium provider returns `token: https://medium.com/v1/tokens` and the medium documentation defines the endpoint as `https://api.medium.com/v1/tokens`. Which one should be referenced in Providers.md? Thanks.

[2017-02-02 09:01] AdriVanHoudt commented on #293
The one bell uses. But are those interchangeable?

[2017-02-02 13:49] joshuacolvin commented on #293
Not sure. Having trouble getting medium auth to work with either. Trying to decipher if it's something i'm doing wrong or related to [this](https://github.com/Medium/medium-api-docs/issues/62) issue.

[2017-02-06 21:54] #293 closed

[2017-02-13 17:04] sholladay commented on #287
I would bet that those users are hitting "deny" / "cancel" on the Facebook confirmation screen. If they do, a 500 error is expected (even though it's not ideal).

Here is what you should do:

1. Set the `mode` of your login route to `try` so that you can inspect authentication errors.
2. In the handler, log the value of `request.auth.error.message`.
3. Open your browser and try to login using the

[2017-02-13 17:52] captainjackrana commented on #287
@sholladay That was my first assumption too.. I have been using `auth:{mode: 'try'}` and logging two types of errors primarily.
`error: Error authenticating Missing facebook request token cookie`
`error: Error authenticating App rejected: the user denied your request`

Another theory could be that people are hitting the back button post a successful login, during which the route handler `/login` d

[2017-02-13 18:06] sholladay opened #295 "Expose query in spite of errors"
The [query](https://github.com/hapijs/bell/blob/fc5c85ca3e5c2f0c2db00c85d405e0438a48c185/lib/oauth.js#L261) feature is awesome as it allows me to return the user to where they came from after logging in.

However, because `bell` attaches it it to `request.auth.credentials`, and `credentials` are only available if there are no errors from `bell`, the end result is that I cannot help them go back if

[2017-02-13 18:26] sholladay commented on #287
I don't know how to handle the back button case and I'm curious about that too!

However, your second error message suggests that I was spot on. That is a user who went to log in but then denied permission on Facebook. I edited my comment above to add further details on that, it's pretty normal. I have a very clean UX where it just reloads the log in page whenever they do that, as it's usually a m

[2017-02-13 22:35] ldesplat commented on #295
Yes, you are right we should. Looking at https://hapijs.com/api#serverauthschemename-scheme it seems like we should be able to return the credentials object anyways when we hit an error rather than creating a new request.auth key which is more owned by Hapi than us. Remember that the presence of the credentials object does not mean that `request.auth.isAuthenticated === true`.

The docs are a bit

[2017-02-13 23:34] sholladay commented on #295
Definitely. Although, this could be considered semver major depending on how you look at it. Maybe not because...

You are absolutely right. The docs are clear that `isAuthenticated` is the canonical way. I had a hard time wording what I meant about that. Just changed it to say "`credentials` are only available if there are no errors from `bell`".

Is that happening? I looked through the code a bi

[2017-02-14 00:16] ldesplat commented on #295
Sounds like we're saying close to the same thing. But I want to be sure

I am proposing that we can implement the return of `request.auth.credentials.query` on errors since it appears supported by the Hapi API.

I think it would be a semver minor change, but Bell has lots of instances where it needs to raise the major so I can make proper release notes spelling out that point very clearly that req

[2017-02-14 04:38] sholladay commented on #295
Yeah, that's fine too. I care more about being able to access it than where exactly it lives. Though it does feel strange to refer to it as a credential. And I support putting it on `artifacts`. 👍

[2017-02-16 03:15] woutrbe opened #296 "Authorising with existing session"
I know this plugin is mostly used for third-party authentication, but is there any support for authorising third-party accounts on top of existing session.

Here's my current scenario:
1.  User logs in through email/password form
2. User is given a JWT that must be provided on every request
3. User wants to authorise Twitter to their account

Step 3 is where I'm stuck at the moment,  how can I hav

[2017-02-16 15:46] ldesplat commented on #296
In the past I've done this by doing my own auth strategy and explicitly calling the two strategies I want to combine since you can call their APIs directly. I can't find any samples off hand but hopefully somebody can point out an example somewhere.

[2017-02-17 02:15] woutrbe commented on #296
@ldesplat That was my idea as well. I've sort of had the same issue when I was using Express + passport in the past, because the endpoints would involve:

`JWT -> Twitter -> OAuth screen -> Twitter -> JWT -> callback`

Which made it a bit difficult to manage, especially since you have to pass the JWT around, I'll give it a try.

[2017-02-17 15:37] grenager commented on #245
It would be super helpful to provide some examples of how to use this with a front-end. I'd like to use bell to provide authentication on my back-end API, but of course the third-party oauth providers typically want to show a page to the user and get them to click. It's not clear how to embed that workflow into a front-end app. I'm guessing I need to configure the back-end to return some kind of r

[2017-02-17 22:34] pabx06 commented on #245
yup same question here the backend for twitter show up a nice form to be filled by user:  login and password ...

my front end is angular2 2 year agao i was  with angular 1 i was able to use express back end to intercept  and use virtual router template served by passportjs/backend.

but now my workflow is completly different.

now i am wondering if i can use templateURL of angular2 component

[2017-02-18 01:31] grenager opened #297 "Copy over the profile picture from Facebook?"
Hi, it would be really helpful for me to get the profile picture from Facebook. Here's the required code change (I think):

[code]

Better yet, it would be cool to allow users to specify the paths of the fields they want to copy out of the profiles into the session objects.

[2017-02-21 13:48] pankajpatel commented on #297
you can access the picture by the `raw` as `raw.profile.picture`.

`raw` contains the JSON profile response received.

[2017-02-27 19:53] grenager commented on #297
Yes, but picture is not there in the raw JSON, because the code doesn't
request that field from Facebook. See my proposed code changes. Thanks!

Teg

On Tue, Feb 21, 2017 at 5:48 AM, Pankaj Patel <notifications@github.com>
wrote:

[2017-02-27 20:54] pankajpatel commented on #297
@grenager You are right; though there would be many fields which facebook provides which can be included in the query.

I think it will be good to have an option for the provider to accept query param for the default request.

[2017-02-27 21:02] grenager commented on #297
Great idea, thanks Pankaj.

On Mon, Feb 27, 2017 at 12:54 PM, Pankaj Patel <notifications@github.com>
wrote:

[2017-03-13 12:48] roytz opened #300 "auth with multiple strategies"
Hi,
If I use bell for multiple logins, lets say Facebook and Twitter, how can I use both of them as the auth of other routes? I posted an example below -

[code]

[2017-03-13 13:02] ldesplat commented on #300
The most common use case is that you allow a user to authorize themselves with certain providers but that you have your own way of having sessions. So with bell, you can have a different path for each provider and you just redirect back to your authorizedPage when done.

See https://bell.now.sh/_src/?f=index.js&h=2372%3B1573 for an example of doing that (separate page for each provider). Then you

[2017-03-14 16:15] roytz commented on #300
Thank you @ldesplat

[2017-03-14 17:13] #300 closed

[2017-03-21 06:03] doron2402 opened #302 "Failed obtaining facebook access token :("
Hi,

- I've used the example
- Made sure `isSecure` is false
- added localhost and a mock domain to `Valid OAuth redirect URIs` on facebook

My feeling is that my FB configuration are off, but happy to hear you guys feedback.

Thanks,
- Doron.

[code]

here's the stack:

[code]

When I'm getting redirect to facebook that's the error message I'm getting:

[code]

[2017-03-21 06:07] #302 closed

[2017-03-21 06:07] doron2402 commented on #302
found the issue facebook settings.. 👎

[2017-03-23 06:27] jerome724 opened #304 "twitter example"
Hey, in the Twitter example there is a clientId and clientSecret, i was a bit confused because in twitter you have only the ``consumer_key``, ``consumer_secret``, ``access_token`` and the ``access_token_secret``. Which on of these is the right one?

[2017-03-24 11:24] ramiel opened #305 "Passing a custom parameter through the auth process"
I have this scenario. A client want to login through a social provider and want information back through a redirect.
For example it will call
`http://api.com/login/facebook?redirect=http://client.com/onAuth`
the server, after logging in with facebook should do a redirect to `http://client.com/onAuth` passing the response through the query, so for example `http://client.com/onAuth?token=xxx`.
Is th

[2017-03-24 19:21] #261 closed

[2017-03-24 20:13] ldesplat opened #306 "Investigate why boom 4.3+ breaks our tests"
Specifically: `./node_modules/.bin/lab -i 64 -m 0 -v`
Returns
[code]

[2017-03-31 07:58] conradkleinespel commented on #262
@ThiagoMiranda Do you remember what the issue was ? I am experiencing the same thing you were experiencing.

[2017-03-31 08:47] conradkleinespel commented on #262
What fixed this issue for me was setting the `location` to the path of the auth route (and configuring this on the Github developer dashboard.

[code]

[2017-04-03 15:19] jmonster commented on #306
fwiw I'm also encountering this exact same error in my own project after upgrading; landed here hoping for a solution 😁

[2017-04-03 15:46] arb commented on #306
https://github.com/hapijs/boom/commit/544cc13db7c7fc99b43bbb8eb1ce2ce57f2c78db

I didn't really have much to do with this initial change. Here is where the initial change happened
https://github.com/hapijs/boom/commit/3aa4a8c05e88646c22edac2e876411d8d3d61b06#commitcomment-21496008

[2017-04-03 17:34] jmonster commented on #306
I didn't mean to suggest Boom was at fault :) it might be surfacing other problems.

[2017-04-06 08:17] marcuspoehls commented on #30
Hi @gerenrot, Hi @jedireza,

I’m running into a related issues as you did. My hapi app allows users to sign up and log in and I’m saving the session using `hapi-auth-cookie`. Now users should connect with GitHub and just want to add GitHub’s API token to the exising user profile (based on `hapi-auth-cookie`).

The `server.auth.test` works if the user already granted access on GitHub for my applica

[2017-04-07 20:46] jedireza commented on #30
@marcuspoehls you have a similar goal that I did previously. I never did come up with a solution though.

[2017-04-09 04:09] dstevensio commented on #304
If I recall correctly, it's:

`clientId` -> `consumer_key`

`clientSecret` -> `consumer_secret`

[2017-04-10 08:50] gerenrot commented on #30
You should have an endpoint with a GitHub auth strategy (bell scheme).
Redirect the user to this endpoint. He might be further redirected to GitHub to grant access and then redirected back.
When he's back and authenticated with GitHub auth, use server.auth.test() to get his account details and add the GitHub profiles to his account.

[2017-04-10 09:50] marcuspoehls commented on #30
@gerenrot @jedireza Thanks for your help!

@gerenrot That's what I did and everytime the user is required to grant access on GitHub, the `server.auth.test()` fails. If the user already granted access on GH, everything goes smooth.

I found a workaround by saving a cookie using it within the bell callback. Will write a tutorial on that and share it here for everyone interested and having the same i

[2017-04-12 09:00] gerenrot commented on #30
Does hapi see the sid cookie in the failed scenario?

[2017-04-12 12:31] marcuspoehls commented on #30
@gerenrot No

[2017-04-14 18:16] gerenrot commented on #30
Why? In what url the server sees sid? In what url it does not? Whats the difference? Maybe it's the cookie isSecure setting?

[2017-04-20 08:40] marcuspoehls commented on #30
@gerenrot No idea. The server sees the `sid` on all other routes that require the `session` strategy (based on `hapi-auth-cookie`). The one where hapi doesn’t see it is the one that requires `github-bell` auth.

Have also checked the `isSecure` setting for the cookie and set both to `false` for my development setup.

Haven’t found the issue yet. Even setting a custom cookie with `reply.state` on a

[2017-04-23 07:52] jerome724 opened #309 "isSecure not working with http/2"
[code]

But my server runs on an http/2 listener, https is available. It is only working when i set ``isSecure:`` to ``false``, not 100% sure if it is a problem with http/2, since i'm using nginx as an reverse proxy, but my tests seems to be ok https://securityheaders.io/?q=https%3A%2F%2Fpreview.jerome724.com&followRedirects=on

[code]

Any idea how i could fix that?

[2017-04-23 08:03] jerome724 commented on #309
okay, got a ``fix``, not really a fix, was my fault. I had to set ``tls: true`` in my ``server.connection``, now it is working fine!

closed and thanks for the plugin 👍

[2017-04-23 08:03] #309 closed

[2017-04-23 08:03] jerome724 commented on #304
Yep, that worked, thank you!

[2017-04-23 08:03] #304 closed

[2017-05-05 13:03] acmoune commented on #134
@Icehunter  This is not a good idea anyway, why would you do that ? You should instead make sure it is not allowed in your app, for example by checking if the email address from the  provider is already in your database, considering that you use the same email on all your providers accounts.

[2017-06-07 06:15] angad94-14 commented on #302
How did you solve this issue? I'm facing the same issue and can't seem to figure it out

[2017-06-08 17:09] ricktbaker commented on #297
Any update on this?  Is there any way to make it so it requests the profile image as well?

[2017-06-08 18:29] pankajpatel commented on #297
@ricktbaker PR needs to be submitted for this to make profile picture available as well.

[2017-06-10 11:03] PaulMougel commented on #297
I just submitted a PR to fix this issue, feedback and comments are welcome 👍

You will be able to specify the fields you want to retrieve from the user's profile, which will be available in `credentials.profile.raw`.

[2017-06-13 16:47] doron2402 commented on #302
@angad94-14 it's under the app settings not really sure what I have to change

[2017-06-13 23:43] ericeslinger commented on #305
I want to do something similar, except that I want to add an invariant parameter per-user to the login flow.

Basically I want to attach a nonce to a login route like `login/google?reqid=1234`, and then sometime in the end of the OAUTH dance be able to grab the value of `reqid` back out of the data. I'm dealing with logging in to a standalone app via a web browser.

I can't use a captive browser i

[2017-07-01 16:59] sholladay commented on #305
I think you want something like what I am doing with the `next` parameter in [hapi-doorkeeper](https://github.com/sholladay/hapi-doorkeeper/blob/46348cd1b9bbbcb89b1c44c81ef29d4a25f6876f/index.js#L70).

When the server receives a request at `my-site.com/login?foo=bar`, assuming `/login` is a route using `bell`, the route handler won't have `foo` in `request.query` because of the OAuth flow. But the

[2017-07-01 17:39] ericeslinger commented on #305
Mmm, yes, that's what I want.

I worked around this by adding an extra step to the login flow. I wrote my own general-purpose login redirector that the client hits at `/login?provider=google-oauth&nonce=foo`. That handler sets a cookie with the nonce and redirects to `/login/google-oauth` (my bell endpoint for google). The result handler checks the cookie for the user-generated nonce. It's not qui

[2017-07-17 04:53] samx opened #317 "Google refreshToken returns undefined"
Bell API authentication doesn't return the refreshToken for me. Wondering if this is a bug or maybe I missed something.

Options I passed in:
[code]

**Response received**
[code]

[2017-07-17 07:24] AdriVanHoudt commented on #317
If the user is already authenticated with google and your app and does the auth flow again (for login for example) you won't get a refresh token.
It is documented somewhere but can't find it atm.

[2017-07-25 19:56] dpmott commented on #30
@marcuspoehls Be advised that bell does a series of redirects, and there are some associated bugs wherein a cookie doesn't survive a second redirect.

https://github.com/hapijs/hapi-auth-cookie/issues/159
https://github.com/request/request/issues/1502
https://bugs.chromium.org/p/chromium/issues/detail?id=150066

**If this is your issue**, then I recommend doing something like this in your route ha

[2017-07-26 10:35] marcuspoehls commented on #30
@dpmott Hey David, thank you for your explanation and links. I’ve found a “solution” or workaround to get things working. Will use your recommendation when working on it the next time. Thanks again buddy!

[2017-07-27 01:25] dpmott commented on #184
I need part of this functionality; I'll make a PR to allow location to be a function.

[2017-07-27 07:23] dpmott commented on #305
I had the same problem, and wished that hapi bell provided an accessor to get my state back out that I had supplied with `runtimeStateCallback`.

It turns out that you can get the nonce that bell used (it's under a provider-specific key in the request.state), and then remove it from the request.query.state (which has the state you want).

In the route handler, I added these two lines:
[code]

Now

[2017-08-09 10:59] gerenrot commented on #30
@marcuspoehls, just stumbled upon an issue similar to yours. It was working just find before. Debugging revealed my issue is due to an upgrade to the latest hapijs and its default setting of [SameSite=Strict](https://github.com/hapijs/hapi/issues/3323).

It does say 'Breaking Changes' :)

Can that be related to the issue you are having?

[2017-08-20 19:24] mmc41 opened #320 "Using bell for custom API with jwt tokens (no cookie use) ?"
The bell documentation states that bell must be combined with something else to maintain state which is fine since I want to use JWT tokens for my REST api. However all the examples I can find point to cookies and the configuration object for setting up the bell strategy seems to require some cookie-specific required parameters like password and isSecure. Is it possible to change this so my API ca

[2017-09-19 16:03] subins commented on #279
use server.auth.strategy('facebook', 'bell', Object.assign({}, facebookAuth));

[2017-09-24 18:01] #297 closed

[2017-09-27 23:59] Extarys opened #322 "More more more [Auth suggestion]"
Comm: We could add Twilio and **Plivo** support :D
Gaming: Steam
Hosting: Vultr

Just suggestions.

[2017-09-28 07:16] AdriVanHoudt commented on #322
@Extarys PR's welcome! 🎉

[2017-09-28 10:35] Extarys commented on #322
YAY I'll try :P

[2017-09-28 11:24] AdriVanHoudt commented on #322
If you need any help or any question just shoot!

[2017-09-28 11:40] Extarys commented on #322
Thanks! I'll try finishing my thousand project I started though I'll bookmark and come back ;)

[2017-09-28 13:07] AdriVanHoudt commented on #322
I know the pain :D

[2017-10-03 14:52] flipxfx commented on #245
We are having this issue also, we would love the ability to customize what happens when the user is unauthenticated or have a flag built in. Currently without bell we use an `'X-Requested-With': 'ajax'` header to identify the call is being made from an API call and instead of redirecting we return a 401.

[2017-10-05 11:36] JosephDuffy opened #323 "How to call from frontend?"
I am trying to use Bell to integrate Slack login. We have a Hapi API with a React frontend.

If I access /auth/slack directly the regular Slack login flow works and I am redirected back to my API, with everything working as expected. However, the user should not be viewing the API.

To get around this I have the strategy setup as follows:

[code]

Note that `isHttpOnly` is set to `false` to enable

[2017-10-20 19:01] wy193777 opened #324 "Missing azuread request token cookie"
Initialized with:
[code]

Error Stack:
[code]

The problem seems comes from the "refresh=1" on redirected url.

[2017-10-21 01:21] wy193777 commented on #324
Finally find the reason, isSecure must be set false. Maybe has a more detailed error message?

[2017-10-23 16:56] Niputi opened #326 "Discord provider scope issue"
The discord provider does not really care if the scopes are changed.
The provider only supports `email` and `identify`. If one of them were to be removed it does not even affect the returned data
what I mean by this is that if I were to add the scope `guilds` the returned data does not change since the provider does not include the [current user guild url](https://discordapp.com/developers/docs/re

[2017-11-04 00:18] hueniverse opened #329 "New maintainer"
This module needs a new maintainer to clear issues and bring it back to the hapi.js standard.

[2017-11-04 00:19] hueniverse opened #330 "hapi v17 support"

[2017-11-04 01:47] ldesplat commented on #329
That would be much appreciated.

[2017-11-04 10:14] thebillkidy commented on #317
Just had the same issue. Google will need you to revoke the app access to get the refresh_token again. They only provide this during the first authentication flow.

To force this behavior, you can use the following providerParams:

[code]

like this:
[code]

[2017-11-05 15:04] captainjackrana opened #331 "Using bell with Nginx Reverse Proxy"
I'm currently trying to use Nginx for my hapi server which has bell installed.
Basically Nginx listens on port `80` & `443` for `HTT`P & `HTTPS` traffic and routes it to the hapi server listening on `localhost:3000`
After setting up Nginx, bell now sends `redirect_uri` param to 3rd party login providers ( facebook, linkedin) as `localhost:3000`. So, after authentication, users get redirected to th

[2017-11-05 17:04] timcosta commented on #331
You can set a custom hostname for your Hapi server. https://hapijs.com/api#serverinfo

[2017-11-05 18:19] captainjackrana commented on #331
@timcosta are you referring to something like
`const server = new Hapi.Server();
server.connection({ port: 3000, host: example.com });`

[2017-11-06 05:11] timcosta commented on #331
@captainjackrana you can use the `location` option at the bottom here: https://github.com/hapijs/bell/blob/master/API.md#options

[2017-11-06 16:14] AdriVanHoudt commented on #317
Well `prompt: "consent"` is kinda a hack. This forces the consent screen every time you authenticate, which you might want or not. I'm not even sure that behaviour is documented.

[2017-11-06 16:19] thebillkidy commented on #317
This is why I added the whole reply, stating that Google gives it the first time during authentication :) + I think on Applications that you make, this so called "hack" is necessary

[2017-11-06 17:08] AdriVanHoudt commented on #317
Well Google states that you need to store the refresh token. So `necessary` depends on your use case.

[2017-11-06 17:08] #317 closed

[2017-11-08 10:32] captainjackrana commented on #331
Yes i'd seen that option before but i was hoping I wouldn't have to resort to that. Anyway, looks like its the only way out for now :(

[2017-11-19 16:45] #322 closed

[2017-11-19 16:47] #257 closed

[2017-11-19 16:48] #275 closed

[2017-11-19 16:49] #324 closed

[2017-11-19 16:51] ldesplat commented on #320
This is 3 months late but for anybody searching for this. Yes, it is exactly how bell is supposed to be used. The cookie options you can set on Bell is only for its own use. Once you get all the information, you are supposed to use your own mechanisms. So cookie/JWT/Authorization header based is all fair game.

[2017-11-19 16:51] #320 closed

[2017-11-19 16:52] ldesplat commented on #285
Closed by c8781d9

[2017-11-19 16:52] #285 closed

[2017-11-19 16:53] #218 closed

[2017-11-19 16:53] #282 closed

[2017-11-19 16:54] #296 closed

[2017-11-19 16:54] #184 closed

[2017-11-19 16:55] #331 closed

[2017-11-19 18:58] ldesplat opened #333 "Bell 9.0.0 Release Notes - Draft"
## Summary

This release upgrade Bell to use Hapi 17 and Node 8+. This means heavy use of async/await over callbacks.

## Breaking Change

- Hapi 17
- Node 8+

## Other Changes in this Release

---

Hapijs organization uses Milestones to track changes. Even though major releases, warrant release notes, you can access all the previous releases and changes here: https://github.com/hapijs/bell/milest

[2017-11-24 18:41] fjoalland commented on #323
I have the same problem, I don't get how to resolve it. Because even if we use "window.open('')", it will be useless we can't catch the profile information.

Did you find some way?

[2017-11-29 08:56] JosephDuffy commented on #323
Unfortunately I was using this at my job and I have not continued development. I would still love to know a solution to this for the future/if I get a chance to work on the project again!

Luckily we only really needed to "secure" it by ensuring a user is part of our Slack, which it works adequately for, but we can not differentiate between users.

[2017-12-19 13:32] rapoell commented on #330
Hi,
I've been struggling to use Bell with hapi 17.1.1. but finally managed to get get the oauth.js v2 from branch hapi17 working.
I would like to contribute these modifications but for some reason when I clone the repo I can't see that branch.
Please let me know how to help you in this.

Kind regards,

Ronald

[2017-12-19 13:34] rapoell commented on #330
Hi,
I've been struggling to use Bell with hapi 17.1.1. but finally managed to get get the oauth.js v2 from branch hapi17 working.
I would like to contribute these modifications but for some reason when I clone the repo I can't see that branch.
Please let me know how to help you in this.

Kind regards,

Ronald Poell

[2017-12-19 18:54] rapoell commented on #333
see my comment in [hapiv17 support](https://github.com/hapijs/bell/issues/330)

[2018-01-03 05:25] AVVS commented on #330
All cleaned up - https://github.com/hapijs/bell/pull/340

[2018-01-15 15:17] dharmax opened #341 "Getting Error: Lifecycle methods called before the handler can only return an error, a takeover response, or a continue signal"
i moved to hapi 17 and i'm using the bell hapi17 branch.
i can't get Bell  to work (and it worked before).
This is the routing:
`
{
        method: ['GET', 'POST'],
        path: '/login/google',
        config: {
            auth: 'google',
            handler: async (request, h) => {
                if (!request.auth.isAuthenticated)
                    return {error: 'Authentication failed due

[2018-01-22 06:44] captainjackrana opened #342 "Failed obtaining linkedin user profile"
I've been using bell v8.5.0 to authorize Linkedin logins for some months now without facing any issues. However, since the last few days, its been throwing the following error in my app -
`Failed obtaining linkedin user profile`

As directed in issue https://github.com/hapijs/bell/issues/141, I put a `console.log` on the response object at https://github.com/hapijs/bell/blob/master/lib/oauth.js#L2

[2018-01-22 08:20] PaulMougel commented on #342
It looks like LinkedIn is having issues with OAuth, see [this link](http://status.auth0.com/incidents/6xtmprjjt9cb) or [this other link](https://stackoverflow.com/questions/48297743/did-the-linkedin-api-change-today).

[2018-01-22 09:43] captainjackrana commented on #342
I've commented out the `current-share` field from the Linkedin API call and its working perfectly now.. Thanks @PaulMougel and will keep track of the OAuth issue

[2018-01-22 09:43] #342 closed

[2018-01-29 20:37] cjihrig opened #343 "Proposal: remove providers from this repo"
I think removing the providers would make the codebase a lot smaller and make tasks like updating to hapi 17 smoother. Providers could live on their own, even outside of the hapijs org.

I think this would have a side effect of making this repo more manageable for a maintainer. My guess is that supporting ~40 providers (that are difficult to test) in this repo has lead to maintainer burnout/frustr

[2018-01-30 07:00] tangkhaiphuong commented on #333
When this features is release?

[2018-02-24 14:24] acmoune opened #344 "non-issue How to handle App rejection ?"
First I apology because my issue belongs to stackoverflow, but I didn't found a right tag for Bell, so...

How/Where can we handle App rejection, I mean, if for example I used the facebook provider, and once on facebook, the guy decides to cancel its login process. I get this:

[code]
I don't know how to handle this. Should I created an onPostAuth server ext ?

below is my route:

[code]
The "Went

[2018-02-24 19:44] #344 closed

[2018-02-24 19:44] hueniverse commented on #329
I'm taking over this module for the time being. I don't want to keep it so a new full time maintainer is still needed, but this is too important to the ecosystem to leave unresolved for this long.

I am very thankful to @ldesplat for his work on this module all this time. He has done a great job moving it forward, setting a great standard to be continued.

[2018-02-24 19:46] wswoodruff commented on #329
Thank you @ldesplat!!

[2018-02-26 00:10] #329 closed

[2018-02-26 04:05] #330 closed

[2018-02-26 04:06] #333 closed

[2018-02-26 04:07] #245 closed

[2018-02-26 04:07] #323 closed

[2018-02-26 04:19] hueniverse opened #345 "9.0.0 Release Notes"
## Summary

**bell** v9.0.0 is a major rewrite of the authorization plugin for use with hapi v17 and async/await syntax.

## Breaking Changes

- Only supports hapi v17.
- Provider `profile()` method changed from `function(credentials, params, get, callback)` to `async function (credentials, params, get)`.
- OAuth v1 client methods replace `callback` with async interface.

[2018-02-26 04:20] #345 closed

[2018-02-26 04:20] #306 closed

[2018-02-26 05:00] #195 closed

[2018-02-26 05:00] #217 closed

[2018-02-26 05:01] #241 closed

[2018-02-26 05:06] #288 closed

[2018-02-26 05:11] hueniverse commented on #276
No activity.

[2018-02-26 05:11] #276 closed

[2018-02-26 06:29] #295 closed

[2018-02-26 06:35] hueniverse commented on #274
I see what you are asking for, and I am not completely opposed but no one else has been asking for it. If there is more interest in passing the route config to the profile method, I'll consider exposing it.

[2018-02-26 06:35] #274 closed

[2018-02-26 06:38] #287 closed

[2018-02-26 06:40] hueniverse commented on #287
If you need help with dealing with back button (user going back to the page where they hit login), there are ways to deal with that by using two auth schemes, one with bell and one with a cookie that signals bell was successful.

[2018-02-26 06:41] #219 closed

[2018-02-26 06:42] hueniverse commented on #326
I have no idea what this means. Can you provide more details?

[2018-02-26 06:42] #326 closed

[2018-02-26 06:42] #341 closed

[2018-02-26 06:43] hueniverse commented on #341
Try version 9.

[2018-02-26 06:46] hueniverse commented on #305
Is there a reason this needs to use the runtime mechanism vs the original query passed to the endpoint and then passed back via `credentials.query`?

[2018-02-26 06:50] hueniverse commented on #343
I have mixed feelings about this idea. It does make bell a lot simpler to maintain but it just moved the problem elsewhere. Instead of having one place to deal with these issues, we'll have dozens and a much higher likelihood of stale and outdated plugins. If you consider the migration to hapi 17, I had to update each provider code to use an async profile function. This would have been a nightmare

[2018-02-26 06:50] #343 closed

[2018-03-01 00:50] agchou opened #346 "Google | Error when requesting with scope for YouTube"
I'm getting the an error when adding any youtube scope—things work fine when I comment out scope. I also got an error around a cookie. Any thoughts?

## Error:
[code]

## Strategy
[code]

[2018-03-01 01:34] agchou commented on #346
Figured it out! When I specified my own scopes it overrode the default `scope: ['profile', 'email']` which is necessary for the to retrieve the profile from google.

Should the behavior instead be to add the scopes defined in the strategy to the required scopes so this error can be avoided? Or have it added to be more explicit in the documentation somewhere?

[2018-03-03 10:43] slaawwa opened #348 "VK auth dev error: 'v' is required"
Details
![Console](https://pp.userapi.com/c840134/v840134997/36114/2isDAPyHWHI.jpg)
I fixed this add last version to request in file: `bell\lib\providers\vk.js`
[code]

[2018-03-03 11:08] slaawwa commented on #348
Create pull-request
https://github.com/hapijs/bell/pull/349

[2018-03-08 21:23] hueniverse commented on #346
It would be nice to have an `extraScope` that will work the way you suggests, but I am not going to change the defaults. If someone wants to add that functionality, I'll review.

[2018-03-08 21:23] #346 closed

[2018-03-12 19:37] captainjackrana commented on #245
Its a little old, but anyone still having confusions about this should see this flow ( example uses Express + passport.js but you can get the idea)
https://github.com/mean-expert-official/loopback-sdk-builder/wiki/7.-Social-Passport-Integration

[2018-03-18 22:14] taraman opened #351 "cookie_encryption_password_secure"
It is my first time to use external login, and I need to use bell with my existing hapi app,
Can u please clarify what do u mean with this : cookie_encryption_password_secure?

[2018-03-19 14:35] panigrah opened #352 "Auth0 with isSecure=true - Incorrect auth0 state parameter"
Hi all,

I am using hapi17 and bell 9.1.0 with Auth0. After I authenticate with auth0 the redirect back to results in the error:

[code]

This only happens if the `isSecure` flag is set to true. Am using https and `forceHttps` is set to true. Is it okay to leave `isSecure=false` if on https?

[2018-03-19 15:00] davidjamesstone opened #353 "Usage without a strategy"
From the docs:

`bell` exposes an oauth object in its plugin as `server.plugins.bell.oauth`. Calling the v2 method with all the settings documented above, will handle the oauth2 flow.

I'm trying to use this approach to connect to and OpenID Connect service. OpenID Connect is for authentication and is based on the `OAuth2` authorization protocol.

The issue I am encountering is around the `authent

[2018-03-19 22:24] illustratordavid commented on #351
'cookie_encryption_password_secure' is simply a placeholder in the code example.  You should enter your own random password here, I use a 32 character random password

[2018-03-29 07:30] sholladay commented on #352
I am using Auth0 and bell 9.1.0 with `isSecure: true` and not having any problems. So maybe it's something else about your setup. Check out [hapi-doorkeeper](https://github.com/sholladay/hapi-doorkeeper) to see how I'm doing it.

[2018-03-31 09:45] panigrah commented on #352
Thank you @sholladay  will keep looking into other setup.

[2018-04-02 19:06] #348 closed

[2018-04-02 19:06] #351 closed

[2018-04-02 19:08] hueniverse commented on #353
It was never designed to be used directly. The object is exposed for the OAuth 1 client.

[2018-04-02 19:08] #353 closed

[2018-04-02 19:08] #352 closed

[2018-04-10 04:31] Asuza opened #357 "Debug mode"
The default error, "Failed obtaining facebook access token" could be more useful. Logging the provider settings, payload, and the _www-authenticate_ header would help immensely when trying to resolve authentication issues.

I spent a stupid amount of time trying to understand what was wrong with my code until I realized that I needed to dig down and add my own debugging statements.

Below is the f

[2018-04-10 08:15] AdriVanHoudt commented on #357
Makes total sense.
Doing a 'rogue' console.warn does not seem like the right solution, what if we attach the extra info on the error object?

[2018-04-10 12:29] Asuza commented on #357
I agree, a rogue `console.warn` would not be ideal. I wanted to clearly show where I had put it and what data was useful to me.

Attaching it to the error object makes sense (with documentation somewhere), and adding the _www-authenticate_ contents to the `Boom` message would be really helpful as well.

[2018-04-12 07:38] AdriVanHoudt commented on #357
I prefer concise error messages with a bunch of structured data but if you have a way to integrate the header into the message then for sure do it.
Are you willing to open up a PR for this?

[2018-04-12 12:56] Asuza commented on #357
It won't be today, but I'll try to open one in the near future.

[2018-04-13 07:06] AdriVanHoudt commented on #357
Awesome! 💪

[2018-04-14 03:06] Asuza commented on #357
Created PR #359.

[2018-04-14 04:00] Asuza commented on #357
I tried to figure out where/how a new test should be added, but being completely unfamiliar with it, it's hard to know where to start.

[2018-04-16 02:35] tangkhaiphuong opened #360 "How to use bell with custom OAuth2 Server provider"
I setup ORY Hydra as OAuth2 Server. So how I integrating Bell working with the custom OAuth2 server not included in provider list (facebook/twitter...etc).

[2018-04-16 08:05] AdriVanHoudt commented on #360
Where you normally provide the provider name you can also pass an object see https://github.com/hapijs/bell/blob/master/API.md#options

[2018-04-21 16:45] #360 closed

[2018-05-05 17:09] quytang opened #361 "support android app sign in"
The google provider doesn't support this one:
https://developers.google.com/identity/sign-in/android/backend-auth

Would you mind telling me how to get it worked?

[2018-05-08 07:46] AdriVanHoudt commented on #361
AFAIK on android you need to do a client side oauth flow like in the article and then exchange/verify the token on your server (see more to the bottom of the article).

[2018-05-09 08:28] quytang commented on #361
Thanks @AdriVanHoudt!
I've just created an API in this case. However, It would be nice if bell also supports it.

[2018-05-09 08:30] AdriVanHoudt commented on #361
Do you have a suggestion on how that would look in Bell?

[2018-05-10 02:10] quytang commented on #361
I think it should be a configuration flag for google provider.
For example:
[code]

[2018-05-11 09:29] AdriVanHoudt commented on #361
I thought about this and I don't thinks this really fits into Bell.
The mobile option would be completely other thing from the current Bell stuff.
The only thing it would do is make a strategy that calls a provider function. There is not really an oauth flow in that.
To be correct you'd also use the `google-auth-library` lib which is not really a dependency I want to add.
If you want I can give yo

[2018-05-11 12:06] quytang commented on #361
Thank you very much @AdriVanHoudt, I've already done one. So I will close the issue.
I attach the code snippet here to help those who face the same issue.

[code]

[2018-05-11 12:06] #361 closed

[2018-05-11 12:09] AdriVanHoudt commented on #361
If more people want this we can still reconsider this ofc. 👌
Thanks for understanding and posting the snippet for others!

[2018-05-22 18:33] NicBonetto opened #362 "Add an example for testing bell using Bell.simulate"
I am new to the Hapijs ecosystem, and am trying to write tests for an endpoint that is using Bell. I saw that Bell provides a simulated login, but I can't seem to implement Bell.simulate() correctly with the instruction provided. It would be helpful to have a visual. Thank you in advanced.

[2018-05-23 09:04] utkj97 opened #364 "Twitter authentication giving error 500"
I am using the bell plugin for my Hapi project where I am using its Twitter strategy to authenticate users. I am also using google strategy for authentication.
The Google authentication is working fine and I am able to work with the user details.
In case of Twitter, there is some issue. The handler function for the callback URL is not being invoked in the first place. I get error 500 whenever I tr

[2018-05-23 11:15] ilyaigpetrov commented on #305
I don't quite understand the details, but here author suggests using state instead of query parameter for security reasons:

["The correct use of the state parameter in OAuth 2"](http://www.thread-safe.com/2014/05/the-correct-use-of-state-parameter-in.html) by John B. aka ve7jtb

[2018-05-23 13:30] ilyaigpetrov opened #365 "Preserve URL Hash Fragment During Auth"
If it's possible, please, preserve url hash fragment (#foobar, e.g) during auth.

### Why

1. Unauthorized users of `/protected#foobar` are redirected by my server to `/login?redirect_to=/protected#foobar`. The server doesn't see #foobar part, instead it is preserved by the browser during redirect.
2. `/login` launches bell's google strategy auth flow which removes #foobar.
3. After successful log

[2018-05-24 07:35] AdriVanHoudt commented on #362
Check out the tests https://github.com/hapijs/bell/blob/1c281c5f3a3e1aaf11806bc9a74435a5ba2c5100/test/index.js#L356

[2018-05-24 07:36] AdriVanHoudt commented on #364
What is giving the 500, your server or the Twitter api?

[2018-05-24 07:47] AdriVanHoudt commented on #365
Check if the `location` setting might be able to help you

[2018-05-24 08:47] ilyaigpetrov commented on #365
`location` header is used during server redirects and it may include hash fragment.
The problem is:

1) Initial hash fragment is not passed to the server and not preserved during auth, so currently I do redirect with client javascript packing hash fragment to a query string parameter `login?redirect_to_relative=foo#bar` (but percent-encoded). I wish hash value were preserved and restored after aut

[2018-05-24 15:20] utkj97 commented on #364
The issue is resolved. The Twitter API was giving the 500 error. There were some problems with the API keys. It works well now.
Thanks.

[2018-05-25 09:49] AdriVanHoudt commented on #365
Am I correct that you
* go to `login?redirect_to_relative=/protected?abc=xyz#bar` and you end up at `/protected?abc=xyz#`?
* go to `login?redirect_to_relative=/protected?abc=xyz` and you end up at `/protected?abc=xyz#`
?

[2018-05-25 10:07] ilyaigpetrov commented on #365
1. First is true if I don't pack hash into a percent-encoded query parameter (via script in browser). Yes, you are right.
2. Second is true also.

[2018-05-29 18:48] AdriVanHoudt commented on #362
@NicBonetto did the test help you?

[2018-05-29 18:59] AdriVanHoudt commented on #362
When a module or project has tests they are usually a good resource to see how to use stuff. I do this all the time :D Glad I could help!

[2018-06-01 09:21] ilyaigpetrov opened #366 "Feature Request: Support Redirects Back to The Page That Required Auth"
If you have seen #305 then you know that redirecting a user back to the page that required authorization is a desired feature for many Bell users.
Preserves Bell the hash fragment or not (#365), I think there should be an option in bell that does such redirects because manual implementation may be subject to open redirect attacks, not every developer may implement redirects in a secure way. That's

[2018-06-01 10:21] ilyaigpetrov commented on #366
Here is a bell and auth-cookie setting that redirects back: https://github.com/ilyaigpetrov/bell-redirect-back

[2018-06-06 21:42] rinick opened #367 "example doesn't work"
I tried this:
[code]
open `http://localhost:8000/bell/door` in browser
response: `{"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred"}`

am I doing anything wrong?
btw, I'm using node v10.4.0

[2018-06-07 07:10] AdriVanHoudt commented on #367
Do you see the server printing anything more specific?
As in is it Twitter returning the 500 or is the `JSON.stringify` in the example failing for example.

[2018-06-07 08:08] AdriVanHoudt commented on #366
How would this be different then doing this in your handler?
[code]
And `request.auth.credentials.query` contains every query param you initially send.
If you want to configure it on the server then I guess that would be feature request which I think is reasonable.
What I do now for example, we have a general /connect route which takes some query params like `/connect?type=google` and sets some da

[2018-06-07 08:11] AdriVanHoudt commented on #305
What is the actual request here?
Does using `request.auth.credentials.query` in your bell handler solve your issue @ramiel?

[2018-06-07 08:46] ramiel commented on #305
Sorry, this issue is too old. I even forgot what it was about. I don't close this issue since I see it generated a discussion.

[2018-06-07 11:45] ilyaigpetrov commented on #366
1. JS redirect is needed because I want to get rid of the empty `#` when hash fragment was not set originally.
    Other possible approach is `<meta http-equiv="refresh"...` but I didn't test it.
2. I also integrate bell with hapi-auth-cookie to avoid starting auth on every request, so `request.auth.credentials.query` contains not the initial page url, but `/login/redirect_to_path=/dashboard/?abc=

[2018-06-07 16:27] rinick commented on #367
sorry, yes, it works.
I didn't update my callback url in the twitter app setting

[2018-06-07 16:27] #367 closed

[2018-06-11 08:15] AdriVanHoudt commented on #367
Glad you got it working!

[2018-06-11 08:19] AdriVanHoudt commented on #305
@ramiel no problem! If any else still has a question or a request please state so otherwise I will close this issue soon.

[2018-06-20 16:40] ashrafk786 opened #369 "Integration with Facebook, Android, Web"
## Context
I have a single page application written in Angular1 and we're in the process of releasing an android app.  The angular app allow login and registration using your email address. We'd liked to have social integration - starting with facebook.  We've enabled bell and i have a separate route for login using facebook. When a user clicks on the login with facebook link, I target a new windo

[2018-06-23 17:08] hsablonniere opened #370 "State parameter, nonce, in-app browser and PWA"
Hello Bell team :wink:

Thanks very much for this project!

## Context

We've been using bell on a side project for a few weeks now to let our users authenticate with Google, FB and Twitter. It's a responsive website available on desktop, tablet and mobile.

We've identified two situations on mobile where our authentication process fails.

### Situation 1

* Browse the site on mobile with a browse

[2018-06-25 14:22] AdriVanHoudt commented on #370
Oh, those are some interesting questions.

Situation 1: I honestly don't know. Doesn't facebook have any docs oh how to properly use their native app for web logins on mobile?

Situation 2: Interesting, are you opening the flow in another window, if so maybe try just using the current window?

If I may, I will redirect the questions of the state param to @hueniverse (or anyone else for that matter

[2018-06-25 14:31] AdriVanHoudt commented on #369
Hey @ashrafk786,

If I understand correctly you are trying to use the bell flow in your native Android app? If so I don't think that will work for you.
Bell does indeed do redirects. I think you probably want to look into using the Facebook android sdk https://developers.facebook.com/docs/facebook-login/android/

[2018-06-27 12:34] lazex opened #371 "`handler` is not called when authentication failed in twitter provider."
I try example written in readme, and change `hanlder` code to below.

[code]

It works when authentication successed.
However, it does not work when authentication failed by clicking cancel button in twitter page.

I got this response.

[code]

And, no logs are shown in console, which means that handler is not called.

How can I handle it?

[2018-06-27 18:44] AdriVanHoudt commented on #371
you probably want your route config to look like
[code]
the important part being the `mode`, see https://hapijs.com/api#-routeoptionsauthmode

[2018-06-27 20:13] ashrafk786 commented on #369
@AdriVanHoudt Our backend requires that you authenticate in order to access most endpoints. Once authenticated, we create/set a cookie. The native app is able to authenticate against facebook using their SDK but they have not authenticated against our backend and I was looking for guidance on how to proceed. Should I create a new route for mobile that take a provider, id, token, does a lookup agai

[2018-06-28 08:09] AdriVanHoudt commented on #369
afaik, you should get a token from the client side Facebook auth flow.
You send that token to your api which then trades that token with the Fb api for credentials (not 100% sure but I think you trade the client token for the actual access and refresh token and the user info).
Once you have that you can set your personal authentication cookie on the response and your client will be able to use it

[2018-06-28 12:46] lazex commented on #371
It works. Thank you!

[2018-06-28 12:46] #371 closed

[2018-06-28 14:29] ashrafk786 commented on #369
@AdriVanHoudt So I was thinking along the same lines and I want to know where does Bell fit into this picture for this use case? Do you recommend I use a different library for this purpose?

[2018-06-29 07:55] AdriVanHoudt commented on #369
Good question, for me Bell is a solution for server side web oauth flows.
Maybe we should make that more clear in the readme?

[2018-07-20 14:41] cjt-hsy opened #375 "Could not get token in eclectrode-ota-server when click github auth"
here is the all message when i click github auth button:

It was successed in my local PC env. But did not work in Alibaba ECS.

The log i added is here:

![image](https://user-images.githubusercontent.com/41097302/43011924-82841a0a-8c77-11e8-8e4b-0c55c7d4ec16.png)

On my local PC ,the err will appear twice ,and the third time err will be null ,then isAuthenticated will be true ,the auth token wil

[2018-07-23 21:09] AdriVanHoudt commented on #375
Hi @cjt-hsy can you show my how you configured bell?
The stuff you logged look like request objects

[2018-07-24 10:45] freakinside opened #376 "Failed obtaining office365 user profile. v8.8.0"
Im using bell version 8.8.0

I have github integration working but i have problems with office365. After i select a user it seems there is a problem obtaining the profile.

I checked the code on the latest version and seems none of the specific urls for office365 changed, so i assume version 8.8.0 should still work as other providers do.

{ Error: Failed obtaining office365 user profile
    at Wre

[2018-07-24 12:57] freakinside commented on #376
In /var/app/current/node_modules/bell/lib/oauth.js

Wreck.post(settings.provider.token, requestOptions, (err, tokenRes, payload) => {

It assumes that payload object has access_token and refresh_token, but i have id_token and refresh_token instead when using office365 provider. Not sure why i dont get an access_token as response code is 200.

[2018-07-25 01:19] cjt-hsy commented on #375
Thanks! @AdriVanHoudt Are you mean this?

{
  "_args": [
    [
      "bell@8.9.0",
      "/Users/xcz/Documents/WebstormProjects/codepush-electrode-ota-server"
    ]
  ],
  "_from": "bell@8.9.0",
  "_id": "bell@8.9.0",
  "_inBundle": false,
  "_integrity": "sha512-tibCCgKaP9ahjGAJs/YDpAWWZyLmlvJfjMa7ElPA9/mkmCvswedvouI0DVRaa/1zfKqQ9GTy6Y2ZMhCfJbCPfQ==",
  "_location": "/bell",
  "_phantomChildren":

[2018-07-25 12:14] freakinside commented on #376
I already get the access_token. The problem is that there the default scopes are note enough to get an access_token. I solved it adding 'User.Read'.

[code]

Now i get a 401 error. I see the following error on the response headers.

2000010;reason="ErrorCode: \'PP_E_RPS_CERT_NOT_FOUND\'. Message: \'Certificate cannot be found. Certificate required for the operation cannot be found.%0d%0a Internal

[2018-07-25 12:43] freakinside commented on #376
If i make an overkill scope declaration i access profile data. Im trying to find which are the minimum scopes to keep it working.

[2018-07-25 13:10] freakinside commented on #376
It works using this scopes:

`scope: ['openid', 'offline_access', 'profile', 'https://outlook.office.com/mailboxsettings.read']`

Ill try to test it with a paid account a bit later to check if there are any differences.

[2018-07-25 23:09] ashrafk786 commented on #369
@AdriVanHoudt Do you have a suggestion on how I can use bell without the `web flow` component? What If I simply want to call `bell.facebook.validate(token)` and have it do a validate the token and provide me with the profile data? It seems if the logic in bell was abstracted, it would work for a web-flow and a server side check.

[2018-08-02 01:47] cjt-hsy commented on #375
@AdriVanHoudt Sorry！It's my fault. I forgot I changed the db table column type: DATETIME to TIMESTAMP.

[2018-08-07 07:16] AdriVanHoudt commented on #375
@cjt-hsy So your issue is fixed? 🎉

[2018-08-08 17:36] sholladay commented on #305
I think this can be closed @AdriVanHoudt. I'm almost certain the answer to the original question is just to use `credentials.query` instead of `request.query` when you need access to the original, pre-`bell` query parameters.